<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta
			content="IE=edge,chrome=1"
			http-equiv="X-UA-Compatible"
		/>
		<meta
			content="width=device-width, initial-scale=1, shrink-to-fit=no"
			name="viewport"
		/>
		<title>{{ metaTitle or title or global.siteTitle }} | {{ global.siteName }}</title>

		{# {% include "partials/meta.html" %} #} {% block head %}{% endblock %}

		<link
			rel="preconnect"
			href="https://fonts.googleapis.com"
		/>
		<link
			rel="preconnect"
			href="https://fonts.gstatic.com"
			crossorigin
		/>
		<link
			href="https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;600&display=swap"
			rel="stylesheet"
		/>
		<link
			rel="stylesheet"
			type="text/css"
			href="{{ '/assets/slick/slick.css' | url }}"
		/>

		<link
			rel="stylesheet"
			type="text/css"
			href="{{ '/assets/slick/slick-theme.css' | url }}"
		/>

		<link
			rel="stylesheet"
			href="{{ '/assets/styles/main.css' | url }}"
		/>

		<script src="https://code.jquery.com/jquery-3.6.3.slim.min.js"></script>

		<script
			type="text/javascript"
			src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"
		></script>

		<script
			type="module"
			src="{{ '/assets/js/main.js' | url }}"
		></script>
	</head>

	<body
		x-data
		:class="{'overflow-hidden': $store.mobileMenu.isOpen }"
	>
		<!-- prettier-ignore -->
		{% if header == 'clean' %}
			{% include "partials/header-clean.html" %}
		{% else %}
			{% include "partials/header.html" %}
		{% endif %}

		<main class="pb-16">
			<!-- prettier-ignore -->
			{% block content %}
				{{ content | safe }}
			{% endblock %}
		</main>
		{% include "partials/footer.html" %}
	</body>
</html>
