---
title: Beginner
permalink: /beginner/
layout: "layouts/base.html"
---

<div class="bg-[url('/assets/img/hero-beginner.jpg')] bg-cover bg-center">
	<div class="container py-10">
		<span
			class="block text-center font-header text-3xl font-bold uppercase text-white lg:text-right lg:text-5xl"
		>
			BEGINNER COURSE
		</span>
	</div>
</div>
<div class="container flex gap-28 py-10 lg:pb-32">
	<div class="hidden w-1/4 pt-4 lg:block">{% include 'partials/sidebar.html' %}</div>
	<div class="w-full lg:w-3/4">
		<h1 class="text-3xl font-bold leading-tight tracking-wide sm:text-4xl">
			Welcome to Beginner Courses – where you can learn how to sing your best without any experience at all!
			We developed a curriculum that is easy to follow, no matter what level you’re at.
		</h1>

		<p class="mt-8 text-base text-black">
			Each course has 30 lessons, and you’ll take one lesson a day. If you have the vocal stamina, you may do
			2 or more lessons a day. If you are brand new to any vocal training, you might choose to do a lesson
			every other day. We always encourage you to go at a safe comfortable pace that feels right!
			<br />
			<br />
			If you’re an absolute beginner or not sure how to begin, our Level 1 course is the best place to start.
			If you’re confident with the basics of proper vocal technique, you might find that the Level 2 course is
			a better starting point. Our Level 1 and 2 courses are taught by a female and male instructor so that
			you can join the course that best fits your vocal range.
		</p>

		<div
			class="mt-16 flex justify-between overflow-hidden rounded-md bg-[url('/assets/img/hero-beginner.jpg')] bg-cover bg-center"
		>
			<div class="py-4 px-4 md:px-6">
				<h2 class="font-header text-2xl font-semibold uppercase text-white">Beginner Courses</h2>
			</div>
			<div class="bg-black py-4 px-6">
				<span class="font-header text-2xl font-bold uppercase text-white">Level 1</span>
			</div>
		</div>

		<p class="mt-8 text-base text-black">
			Level 1 is the course for learning the foundation of great vocal technique. It’s essential that you
			start here if you haven’t had any training before because you’ll learn how to keep your voice healthy
			while you build on your skills. You’ll start with easy beginner warm-ups along with proper posture and
			breathing techniques. Next you will explore your vocal range and how to perfect your tone. And finally,
			we’ll introduce some advanced techniques that you can apply to a performance using an original song. If
			you have a higher vocal range, Camille van Neikerk’s Level 1 course is great, and if you have a lower
			vocal range, Jonathan Estabrooks is the Level 1 course for you.
		</p>

		<div class="mt-10 grid grid-cols-1 gap-6 md:grid-cols-2">
			<div class="flex flex-col overflow-hidden rounded-lg bg-white shadow-md">
				<img
					src="/assets/img/thumbnails/30DS_TUT_BeginnerCourse_Lvl1-Camille.jpg"
					alt=""
				/>

				<div class="flex flex-1 flex-col justify-between px-6 py-4">
					<div class="flex-1">
						<h3 class="font-header text-2xl font-bold text-black">30 Day Beginner Course Level 1</h3>
						<span class="mt-2 block text-sm font-normal text-brand-gray-dark">
							By <span class="font-semibold">Camille van Niekerk</span>
						</span>
						<div class="mt-4 border-t border-brand-gray-light pt-4">
							<p class="text-sm text-black">
								Camille van Niekerk is the instructor for this 30 day course for beginners. Camille van
								Niekerk is a singer and vocal instructor in Southern California with roots in musical theater,
								dancing, directing, and playing roles such as Belle in Beauty & the Beast, Chiffon in Little
								Shop of Horrors, and Gabriella in High School Musical.
							</p>
						</div>
					</div>
					<button
						class="mt-10 block w-full rounded bg-brand-primary px-5 py-3 text-center text-base font-semibold uppercase text-white"
					>
						Begin Course
					</button>
				</div>
			</div>
			<div class="flex flex-col overflow-hidden rounded-lg bg-white shadow-md">
				<img
					src="/assets/img/thumbnails/30DS_TUT_BeginnerCourse_Lvl1-Jonathan.jpg"
					alt=""
				/>

				<div class="flex flex-1 flex-col justify-between px-6 py-4">
					<div class="flex-1">
						<h3 class="font-header text-2xl font-bold text-black">30 Day Beginner Course Level 1</h3>
						<span class="mt-2 block text-sm font-normal text-brand-gray-dark">
							By <span class="font-semibold">Jonathan Estabrooks</span>
						</span>
						<div class="mt-4 border-t border-brand-gray-light pt-4">
							<p class="text-sm text-black">
								Jonathan Estabrooks is the instructor for this 30 day course for beginners. Award-winning
								performer and Juilliard alum Jonathan Estabrooks continues to leave his mark on the opera,
								musical theatre and crossover genres. With over half a million views on YouTube, he has been
								featured on the front page Billboard.com and New York Times, CBC Television, CNN and NBC.
							</p>
						</div>
					</div>
					<button
						class="mt-10 block w-full rounded bg-brand-primary px-5 py-3 text-center text-base font-semibold uppercase text-white"
					>
						Begin Course
					</button>
				</div>
			</div>
		</div>
		<div
			class="mt-16 flex w-full justify-between overflow-hidden rounded-md bg-[url('/assets/img/hero-beginner.jpg')] bg-cover bg-center"
		>
			<div class="py-4 px-4 md:px-6">
				<h2 class="font-header text-2xl font-semibold uppercase text-white">Beginner Courses</h2>
			</div>
			<div class="bg-black py-4 px-6">
				<span class="font-header text-2xl font-bold uppercase text-white">Level 2</span>
			</div>
		</div>

		<p class="mt-8 text-base text-black">
			Level 2 is your next stop once you complete Level 1 – or it might be the place to start if you have a
			background in singing and are comfortable with basic vocal technique. This course is a direct follow-up
			to the Level 1 course and explores more of the advanced techniques like mixed voice, belting, vibrato
			and harmonizing. Like Level 1, we will introduce original songs in these lessons so you can practice
			these techniques using song work. By the end of this course, you should be well-equipped for your next
			performance or audition! If you started with Camille van Niekerk’s Level 1 Course, we recommend
			following it with her Level 2 Course. If you started with Jonathan Estabrooks’s Level 1 Course, you
			should follow with Abram Poliakoff’s Level 2 Course.
		</p>

		<div class="mt-10 grid grid-cols-1 gap-6 md:grid-cols-2">
			<div class="flex flex-col overflow-hidden rounded-lg bg-white shadow-md">
				<img
					src="/assets/img/thumbnails/30DS_TUT_BeginnerCourse_Lvl2-Camille.jpg"
					alt=""
				/>

				<div class="flex flex-1 flex-col justify-between px-6 py-4">
					<div class="flex-1">
						<h3 class="font-header text-2xl font-bold text-black">30 Day Beginner Course Level 1</h3>
						<span class="mt-2 block text-sm font-normal text-brand-gray-dark">
							By <span class="font-semibold">Camille van Niekerk</span>
						</span>
						<div class="mt-4 border-t border-brand-gray-light pt-4">
							<p class="text-sm text-black">
								Join Camille van Niekerk for level 2 of the beginners course! This course builds upon her
								previous 30-day course, so we recommend completing that first. Camille will review concepts as
								you go, but you’ll get the most out of this course once you’ve completed level 1.
							</p>
						</div>
					</div>
					<button
						class="mt-10 block w-full rounded bg-brand-primary px-5 py-3 text-center text-base font-semibold uppercase text-white"
					>
						Begin Course
					</button>
				</div>
			</div>
			<div class="flex flex-col overflow-hidden rounded-lg bg-white shadow-md">
				<img
					src="/assets/img/thumbnails/30DS_TUT_BeginnerCourse_Lvl2-Abram.jpg"
					alt=""
				/>

				<div class="flex flex-1 flex-col justify-between px-6 py-4">
					<div>
						<h3 class="font-header text-2xl font-bold text-black">30 Day Beginner Course Level 1</h3>
						<span class="mt-2 block text-sm font-normal text-brand-gray-dark">
							By <span class="font-semibold">Abram Poliakoff</span>
						</span>
						<div class="mt-4 border-t border-brand-gray-light pt-4">
							<p class="text-sm text-black">
								Join Abram Poliakoff for level 2 of the beginners course! This course builds upon the previous
								30-day courses by Camille, Jonathan, and Jon, so we recommend completing one of those courses
								first! We will review concepts as we go, but you will get the most out of this course once you
								have completed level 1.
							</p>
						</div>
					</div>
					<button
						class="mt-10 block w-full rounded bg-brand-primary px-5 py-3 text-center text-base font-semibold uppercase text-white"
					>
						Begin Course
					</button>
				</div>
			</div>
		</div>

		<div
			class="mt-16 flex w-full justify-between overflow-hidden rounded-md bg-[url('/assets/img/categories/Img_Category-OldCourses.jpg')] bg-cover bg-center"
		>
			<div class="py-4 px-4 md:px-6">
				<h2 class="font-header text-2xl font-semibold uppercase text-white">Old Courses</h2>
			</div>
		</div>

		<p class="mt-8 text-base text-black">
			Use this 30-Day Quick Start Beginner Course to help build a strong vocal foundation. This course is not
			related to our Level 1 and Level 2 courses and is an alternative course to follow should you want
			additional beginner resources to supplement what you’ve learned in our Level 1 and Level 2 course.
		</p>

		<div class="mt-10 grid grid-cols-1 gap-6 md:grid-cols-2">
			<div class="flex flex-col overflow-hidden rounded-lg bg-white shadow-md">
				<img
					src="/assets/img/thumbnails/30DS_TUT_BeginnerQuickStartCourse-Jon.jpg"
					alt=""
				/>

				<div class="flex flex-1 flex-col justify-between px-6 py-4">
					<div class="flex-1">
						<h3 class="font-header text-2xl font-bold text-black">30 Day Beginner Quick Start Course</h3>
						<span class="mt-2 block text-sm font-normal text-brand-gray-dark">
							By <span class="font-semibold">Jon Statham</span>
						</span>
						<div class="mt-4 border-t border-brand-gray-light pt-4">
							<p class="text-sm text-black">
								Jon Statham is the instructor for this 30 day course for beginners. Jon Statham is a talented
								singer, artist, music producer from Nashville who enjoys vocal studio work and writing songs.
								He is a lover of all styles of music, playing guitar and singing since he was just a child.
							</p>
						</div>
					</div>
					<button
						class="mt-10 block w-full rounded bg-brand-primary px-5 py-3 text-center text-base font-semibold uppercase text-white"
					>
						Begin Course
					</button>
				</div>
			</div>
		</div>
	</div>
</div>
