---
title: Homepage
permalink: /
layout: "layouts/base.html"
---

<div class="container flex gap-28 py-10 lg:pb-32 lg:pt-16">
	<div class="hidden w-1/4 pt-4 lg:block">
		<ul class="">
			<li>
				<!-- active example -->
				<a
					href=""
					class="group flex items-center gap-2 rounded-lg bg-brand-primary px-6 py-4"
				>
					<svg
						xmlns="http://www.w3.org/2000/svg"
						width="24"
						height="24"
						viewbox="0 0 24 24"
						class="h-7 w-7 text-white"
					>
						<path
							fill="none"
							d="M0 0h24v24H0z"
						/>
						<path
							d="m7.425 17.075 6.25-2.925a1.09 1.09 0 0 0 .475-.475l2.925-6.25a.369.369 0 0 0-.5-.5l-6.25 2.925a1.09 1.09 0 0 0-.475.475l-2.925 6.25a.369.369 0 0 0 .5.5ZM12 13a.982.982 0 1 1 .713-.288A.965.965 0 0 1 12 13Zm0 9a9.732 9.732 0 0 1-3.9-.788A9.978 9.978 0 0 1 2.788 15.9 9.732 9.732 0 0 1 2 12a9.732 9.732 0 0 1 .788-3.9A9.984 9.984 0 0 1 8.1 2.787 9.743 9.743 0 0 1 12 2a9.743 9.743 0 0 1 3.9.787A9.984 9.984 0 0 1 21.212 8.1 9.732 9.732 0 0 1 22 12a9.732 9.732 0 0 1-.788 3.9 9.978 9.978 0 0 1-5.312 5.312A9.732 9.732 0 0 1 12 22Zm0-10Zm0 8a7.714 7.714 0 0 0 5.663-2.337A7.714 7.714 0 0 0 20 12a7.714 7.714 0 0 0-2.337-5.663A7.714 7.714 0 0 0 12 4a7.711 7.711 0 0 0-5.662 2.337A7.713 7.713 0 0 0 4 12a7.713 7.713 0 0 0 2.338 5.663A7.711 7.711 0 0 0 12 20Z"
							fill="currentColor"
						/>
					</svg>
					<span class="font-header text-lg font-medium text-white"> Where Do I Start? </span>
				</a>
			</li>
			<li>
				<a
					href=""
					class="group my-4 flex items-center gap-2 rounded-lg bg-white px-6"
				>
					<svg
						xmlns="http://www.w3.org/2000/svg"
						width="24"
						height="24"
						viewbox="0 0 24 24"
						class="h-7 w-7 text-brand-gray-dark transition-colors duration-300 ease-in-out group-hover:text-brand-primary"
					>
						<path
							fill="none"
							d="M0 0h24v24H0z"
						/>
						<path
							d="M6 18.5h3v-6h6v6h3v-9L12 5 6 9.5Zm0 2a2.006 2.006 0 0 1-2-2v-9a1.982 1.982 0 0 1 .213-.9 1.913 1.913 0 0 1 .587-.7l6-4.5a2.11 2.11 0 0 1 .575-.3 2 2 0 0 1 1.25 0 2.11 2.11 0 0 1 .575.3l6 4.5a1.922 1.922 0 0 1 .588.7 1.99 1.99 0 0 1 .212.9v9a2 2 0 0 1-2 2h-5v-6h-2v6Zm6-8.75Z"
							fill="currentColor"
						/>
					</svg>
					<span
						class="font-header text-lg font-medium text-brand-black transition-colors duration-300 ease-in-out group-hover:text-brand-primary"
					>
						Home
					</span>
				</a>
			</li>
			<li>
				<a
					href=""
					class="group my-4 flex items-center gap-2 rounded-lg bg-white px-6"
				>
					<svg
						xmlns="http://www.w3.org/2000/svg"
						width="24"
						height="24"
						viewbox="0 0 24 24"
						class="h-7 w-7 text-brand-gray-dark transition-colors duration-300 ease-in-out group-hover:text-brand-primary"
					>
						<path
							fill="none"
							d="M0 0h24v24H0z"
						/>
						<path
							d="M12 3.002a9 9 0 1 1-8.963 8.183 1 1 0 1 1 1.992.18A7 7 0 1 0 7.1 7.002h1.4a1.002 1.002 0 0 1 .114 2H4.5a1 1 0 0 1-1-.88v-4.12a1 1 0 0 1 1.99-.113l.01.113V5.78A8.983 8.983 0 0 1 12 3.002Zm-.75 4a.75.75 0 0 1 .743.648l.007.1v4.252h2.25a.75.75 0 0 1 .1 1.493l-.1.007h-3a.75.75 0 0 1-.743-.648l-.007-.1v-5a.75.75 0 0 1 .75-.752Z"
							fill="currentColor"
						/>
					</svg>

					<span
						class="font-header text-lg font-medium text-brand-black transition-colors duration-300 ease-in-out group-hover:text-brand-primary"
					>
						Lesson History
					</span>
				</a>
			</li>
			<li>
				<a
					href=""
					class="group my-4 flex items-center gap-2 rounded-lg bg-white px-6"
				>
					<svg
						xmlns="http://www.w3.org/2000/svg"
						width="24"
						height="24"
						viewbox="0 0 24 24"
						class="h-7 w-7 text-brand-gray-dark transition-colors duration-300 ease-in-out group-hover:text-brand-primary"
					>
						<path
							fill="none"
							d="M0 0h24v24H0z"
						/>
						<path
							d="m12 14.95 2.775 2.1a.513.513 0 0 0 .6.012.408.408 0 0 0 .175-.537L14.5 13.05l2.725-1.95a.45.45 0 0 0 .175-.563.469.469 0 0 0-.475-.337H13.6l-1.125-3.65a.5.5 0 0 0-.95 0L10.4 10.2H7.075a.469.469 0 0 0-.475.337.45.45 0 0 0 .175.563L9.5 13.05l-1.05 3.475a.408.408 0 0 0 .175.537.513.513 0 0 0 .6-.012ZM12 22a9.732 9.732 0 0 1-3.9-.788A9.978 9.978 0 0 1 2.788 15.9 9.732 9.732 0 0 1 2 12a9.732 9.732 0 0 1 .788-3.9A9.984 9.984 0 0 1 8.1 2.787 9.743 9.743 0 0 1 12 2a9.743 9.743 0 0 1 3.9.787A9.984 9.984 0 0 1 21.212 8.1 9.732 9.732 0 0 1 22 12a9.732 9.732 0 0 1-.788 3.9 9.978 9.978 0 0 1-5.312 5.312A9.732 9.732 0 0 1 12 22Zm0-10Zm0 8a7.714 7.714 0 0 0 5.663-2.337A7.714 7.714 0 0 0 20 12a7.714 7.714 0 0 0-2.337-5.663A7.714 7.714 0 0 0 12 4a7.711 7.711 0 0 0-5.662 2.337A7.713 7.713 0 0 0 4 12a7.713 7.713 0 0 0 2.338 5.663A7.711 7.711 0 0 0 12 20Z"
							fill="currentColor"
						/>
					</svg>

					<span
						class="font-header text-lg font-medium text-brand-black transition-colors duration-300 ease-in-out group-hover:text-brand-primary"
					>
						Favorites
					</span>
				</a>
			</li>
			<li>
				<a
					href=""
					class="group my-4 flex items-center gap-2 rounded-lg bg-white px-6"
				>
					<svg
						xmlns="http://www.w3.org/2000/svg"
						width="24"
						height="24"
						viewbox="0 0 24 24"
						class="h-7 w-7 text-brand-gray-dark transition-colors duration-300 ease-in-out group-hover:text-brand-primary"
					>
						<path
							fill="none"
							d="M0 0h24v24H0z"
						/>
						<path
							d="M5 20a.984.984 0 0 1-1-1v-1.8a2.983 2.983 0 0 1 1.6-2.65 14.867 14.867 0 0 1 3.15-1.163 13.84 13.84 0 0 1 6.5 0 14.866 14.866 0 0 1 3.15 1.163A2.983 2.983 0 0 1 20 17.2V19a.984.984 0 0 1-1 1Zm7-8a3.852 3.852 0 0 1-2.825-1.175A3.852 3.852 0 0 1 8 8a3.852 3.852 0 0 1 1.175-2.825A3.852 3.852 0 0 1 12 4a3.852 3.852 0 0 1 2.825 1.175A3.852 3.852 0 0 1 16 8a3.852 3.852 0 0 1-1.175 2.825A3.852 3.852 0 0 1 12 12Zm-6 6h12v-.8a.943.943 0 0 0-.137-.5.977.977 0 0 0-.363-.35 13.056 13.056 0 0 0-2.725-1.013 11.594 11.594 0 0 0-5.55 0A13.056 13.056 0 0 0 6.5 16.35a.969.969 0 0 0-.362.35.937.937 0 0 0-.138.5Zm6-8a2.006 2.006 0 0 0 2-2 2.006 2.006 0 0 0-2-2 2.008 2.008 0 0 0-2 2 2.008 2.008 0 0 0 2 2Zm0-2Zm0 7Z"
							fill="currentColor"
						/>
					</svg>

					<span
						class="font-header text-lg font-medium text-brand-black transition-colors duration-300 ease-in-out group-hover:text-brand-primary"
					>
						Instructors
					</span>
				</a>
			</li>
			<li>
				<a
					href=""
					class="group my-4 flex items-center gap-2 rounded-lg bg-white px-6"
				>
					<svg
						xmlns="http://www.w3.org/2000/svg"
						width="24"
						height="24"
						viewbox="0 0 24 24"
						class="h-7 w-7 text-brand-gray-dark transition-colors duration-300 ease-in-out group-hover:text-brand-primary"
					>
						<path
							fill="none"
							d="M0 0h24v24H0z"
						/>
						<path
							d="M17.664 20.066a1 1 0 0 1 0-1.414 8 8 0 0 0 1.729-8.716A8 8 0 0 0 12 5a8 8 0 0 0-7.39 4.935 8 8 0 0 0 1.729 8.716 1 1 0 0 1 0 1.414 1 1 0 0 1-1.416 0A9.968 9.968 0 0 1 2 13 10 10 0 0 1 12 3a10 10 0 0 1 10 10 9.963 9.963 0 0 1-2.922 7.064 1 1 0 0 1-.708.294 1 1 0 0 1-.706-.292Zm-2.835-2.823a1 1 0 0 1 0-1.415A4 4 0 0 0 15.465 11a4 4 0 0 0-4.5-1.865A4 4 0 0 0 8 13a3.98 3.98 0 0 0 1.172 2.828 1 1 0 0 1 0 1.415 1 1 0 0 1-1.414 0 6 6 0 0 1 0-8.486 6 6 0 0 1 8.486 0 6 6 0 0 1 0 8.486 1 1 0 0 1-.708.293.994.994 0 0 1-.707-.293ZM10 13a2 2 0 0 1 2-2 2 2 0 0 1 2 2 2 2 0 0 1-2 2 2 2 0 0 1-2-2Z"
							fill="currentColor"
						/>
					</svg>

					<span
						class="font-header text-lg font-medium text-brand-black transition-colors duration-300 ease-in-out group-hover:text-brand-primary"
					>
						Live Streams
					</span>
				</a>
			</li>
			<li>
				<a
					href=""
					class="group my-4 flex items-center gap-2 rounded-lg bg-white px-6"
				>
					<svg
						xmlns="http://www.w3.org/2000/svg"
						width="24"
						height="24"
						viewbox="0 0 24 24"
						class="h-7 w-7 text-brand-gray-dark transition-colors duration-300 ease-in-out group-hover:text-brand-primary"
					>
						<path
							fill="none"
							d="M0 0h24v24H0z"
						/>
						<path
							d="M12 15a2.931 2.931 0 0 1-2.143-.875A2.881 2.881 0 0 1 8.974 12V6a2.881 2.881 0 0 1 .883-2.125 3.063 3.063 0 0 1 4.287 0A2.881 2.881 0 0 1 15.026 6v6a2.881 2.881 0 0 1-.883 2.125A2.931 2.931 0 0 1 12 15Zm0-6Zm0 13a.978.978 0 0 1-.718-.288.961.961 0 0 1-.29-.712v-2.075a6.97 6.97 0 0 1-5.976-5.85.834.834 0 0 1 .227-.75A1.05 1.05 0 0 1 6.049 12a.893.893 0 0 1 .63.262 1.181 1.181 0 0 1 .353.638A5.035 5.035 0 0 0 12 17a5.035 5.035 0 0 0 4.968-4.1 1.148 1.148 0 0 1 .366-.638.936.936 0 0 1 .642-.262 1.02 1.02 0 0 1 .782.325.834.834 0 0 1 .227.75 6.97 6.97 0 0 1-5.976 5.85V21a.963.963 0 0 1-.289.712A.981.981 0 0 1 12 22Zm0-9a.981.981 0 0 0 .719-.288.963.963 0 0 0 .29-.712V6a.966.966 0 0 0-.289-.713 1.043 1.043 0 0 0-1.437 0 .964.964 0 0 0-.29.713v6a.961.961 0 0 0 .29.712A.978.978 0 0 0 12 13Z"
							fill="currentColor"
						/>
					</svg>

					<span
						class="font-header text-lg font-medium text-brand-black transition-colors duration-300 ease-in-out group-hover:text-brand-primary"
					>
						Private Lessons
					</span>
				</a>
			</li>
			<li>
				<a
					href=""
					class="group my-4 flex items-center gap-2 rounded-lg bg-white px-6"
				>
					<svg
						xmlns="http://www.w3.org/2000/svg"
						width="24"
						height="24"
						viewbox="0 0 24 24"
						class="h-7 w-7 text-brand-gray-dark transition-colors duration-300 ease-in-out group-hover:text-brand-primary"
					>
						<path
							fill="none"
							d="M0 0h24v24H0z"
						/>
						<path
							d="M7 15h6.025a.926.926 0 0 0 .7-.288A.989.989 0 0 0 14 14a.981.981 0 0 0-1-1H6.975a.928.928 0 0 0-.7.287A.993.993 0 0 0 6 14a.982.982 0 0 0 1 1Zm0-3h10.025a.926.926 0 0 0 .7-.288A.989.989 0 0 0 18 11a.982.982 0 0 0-1-1H6.975a.928.928 0 0 0-.7.287A.993.993 0 0 0 6 11a.982.982 0 0 0 1 1Zm0-3h10.025a.928.928 0 0 0 .7-.287A.993.993 0 0 0 18 8a.982.982 0 0 0-1-1H6.975a.928.928 0 0 0-.7.287A.993.993 0 0 0 6 8a.981.981 0 0 0 1 1ZM2 20.575V5a1.927 1.927 0 0 1 .588-1.413A1.925 1.925 0 0 1 4 3h16a1.928 1.928 0 0 1 1.413.587A1.928 1.928 0 0 1 22 5v12a2 2 0 0 1-2 2H6l-2.3 2.3a.912.912 0 0 1-1.088.212.941.941 0 0 1-.612-.937Zm2-2.4L5.175 17H20V5H4ZM4 5Z"
							fill="currentColor"
						/>
					</svg>

					<span
						class="font-header text-lg font-medium text-brand-black transition-colors duration-300 ease-in-out group-hover:text-brand-primary"
					>
						Forum
					</span>
				</a>
			</li>
			<li>
				<a
					href=""
					class="group my-4 flex items-center gap-2 rounded-lg bg-white px-6"
				>
					<svg
						xmlns="http://www.w3.org/2000/svg"
						width="24"
						height="24"
						viewbox="0 0 24 24"
						class="h-7 w-7 text-brand-gray-dark transition-colors duration-300 ease-in-out group-hover:text-brand-primary"
					>
						<path
							fill="none"
							d="M0 0h24v24H0z"
						/>
						<path
							d="M5.535 19.93a2 2 0 0 1 0-4 2 2 0 0 1 0 4Zm13.475 0a1.437 1.437 0 0 1-1.037-.425 1.7 1.7 0 0 1-.513-1.05 13.362 13.362 0 0 0-1.312-4.6A14.275 14.275 0 0 0 9.61 7.317a13.362 13.362 0 0 0-4.6-1.312 1.675 1.675 0 0 1-1.05-.525 1.511 1.511 0 0 1-.425-1.075 1.367 1.367 0 0 1 .438-1.038 1.293 1.293 0 0 1 1.037-.362 16.224 16.224 0 0 1 5.775 1.55 17.178 17.178 0 0 1 8.125 8.125 16.224 16.224 0 0 1 1.55 5.775 1.274 1.274 0 0 1-.375 1.037 1.434 1.434 0 0 1-1.075.438Zm-6 0a1.517 1.517 0 0 1-1.037-.413 1.844 1.844 0 0 1-.588-1.062 7.785 7.785 0 0 0-2.2-4.175 7.785 7.785 0 0 0-4.175-2.2 1.816 1.816 0 0 1-1.062-.6 1.594 1.594 0 0 1-.413-1.075 1.338 1.338 0 0 1 .45-1.05A1.24 1.24 0 0 1 5.01 9.03a10.726 10.726 0 0 1 6.313 3.112 10.726 10.726 0 0 1 3.112 6.313 1.206 1.206 0 0 1-.35 1.025 1.415 1.415 0 0 1-1.075.45Z"
							fill="currentColor"
						/>
					</svg>

					<span
						class="font-header text-lg font-medium text-brand-black transition-colors duration-300 ease-in-out group-hover:text-brand-primary"
					>
						Blog
					</span>
				</a>
			</li>
			<li>
				<a
					href=""
					class="group my-4 flex items-center gap-2 rounded-lg bg-white px-6"
				>
					<svg
						xmlns="http://www.w3.org/2000/svg"
						width="24"
						height="24"
						viewbox="0 0 24 24"
						class="h-7 w-7 text-brand-gray-dark transition-colors duration-300 ease-in-out group-hover:text-brand-primary"
					>
						<path
							fill="none"
							d="M0 0h24v24H0z"
						/>
						<path
							d="M12 22a9.732 9.732 0 0 1-3.9-.788A9.978 9.978 0 0 1 2.788 15.9 9.732 9.732 0 0 1 2 12a9.732 9.732 0 0 1 .788-3.9A9.984 9.984 0 0 1 8.1 2.787 9.743 9.743 0 0 1 12 2a9.743 9.743 0 0 1 3.9.787A9.984 9.984 0 0 1 21.212 8.1 9.732 9.732 0 0 1 22 12a9.732 9.732 0 0 1-.788 3.9 9.978 9.978 0 0 1-5.312 5.312A9.732 9.732 0 0 1 12 22Zm-2.9-2.55 1.2-2.75a4.67 4.67 0 0 1-1.812-1.163A5.662 5.662 0 0 1 7.3 13.7l-2.75 1.15a7.5 7.5 0 0 0 1.775 2.8 7.821 7.821 0 0 0 2.775 1.8ZM7.3 10.3a5.662 5.662 0 0 1 1.188-1.837A4.67 4.67 0 0 1 10.3 7.3L9.15 4.55a7.835 7.835 0 0 0-4.6 4.6ZM12 15a2.988 2.988 0 0 0 3-3 2.988 2.988 0 0 0-3-3 2.988 2.988 0 0 0-3 3 2.988 2.988 0 0 0 3 3Zm2.9 4.45a7.844 7.844 0 0 0 4.55-4.55l-2.75-1.2a4.742 4.742 0 0 1-1.15 1.812 5.592 5.592 0 0 1-1.8 1.188Zm1.8-9.2 2.75-1.15a7.845 7.845 0 0 0-4.55-4.55l-1.15 2.8a4.744 4.744 0 0 1 1.775 1.137A5.635 5.635 0 0 1 16.7 10.25Z"
							fill="currentColor"
						/>
					</svg>

					<span
						class="font-header text-lg font-medium text-brand-black transition-colors duration-300 ease-in-out group-hover:text-brand-primary"
					>
						Contact Support
					</span>
				</a>
			</li>
			<li>
				<a
					href=""
					class="group my-4 flex items-center gap-2 rounded-lg bg-white px-6"
				>
					<svg
						xmlns="http://www.w3.org/2000/svg"
						width="24"
						height="24"
						viewbox="0 0 24 24"
						class="h-7 w-7 text-brand-gray-dark transition-colors duration-300 ease-in-out group-hover:text-brand-primary"
					>
						<path
							fill="none"
							d="M0 0h24v24H0z"
						/>
						<path
							d="M5 18.85a10.086 10.086 0 0 1 3.138-2.088A9.742 9.742 0 0 1 12 16a9.749 9.749 0 0 1 3.863.762A10.089 10.089 0 0 1 19 18.85V6H5ZM12 14a3.5 3.5 0 0 1-3.5-3.5A3.5 3.5 0 0 1 12 7a3.5 3.5 0 0 1 3.5 3.5A3.5 3.5 0 0 1 12 14Zm-7 8a2 2 0 0 1-2-2V6a2.006 2.006 0 0 1 2-2h1V2h2v2h8V2h2v2h1a2.006 2.006 0 0 1 2 2v14a2 2 0 0 1-2 2Z"
							fill="currentColor"
						/>
					</svg>

					<span
						class="font-header text-lg font-medium text-brand-black transition-colors duration-300 ease-in-out group-hover:text-brand-primary"
					>
						Singing Feedback
					</span>
				</a>
			</li>
		</ul>
	</div>
	<div class="w-full lg:w-3/4">
		<div class="grid grid-cols-1 gap-6 md:grid-cols-2">
			<a
				href="/"
				class="flex min-h-[144px] items-end rounded-md bg-[url('/assets/img/categories/Img_Category_DashboardBtns-BeginnerCourses.jpg')] bg-cover bg-center p-4 shadow-[0px_4px_12px_#0000001F]"
			>
				<span class="block font-header text-4xl font-semibold text-white">
					Beginner <br />
					Courses
				</span>
			</a>
			<a
				href="/"
				class="flex min-h-[144px] items-end rounded-md bg-[url('/assets/img/categories/Img_Category_DashboardBtns-EarTrainingAndHarmony.jpg')] bg-cover bg-center p-4 shadow-[0px_4px_12px_#0000001F]"
			>
				<span class="block font-header text-4xl font-semibold text-white">
					Ear Training <br />
					And Harmony
				</span>
			</a>
			<a
				href="/"
				class="flex min-h-[144px] items-end rounded-md bg-[url('/assets/img/categories/Img_Category_DashboardBtns-VocalTechniques.jpg')] bg-cover bg-center p-4 shadow-[0px_4px_12px_#0000001F]"
			>
				<span class="block font-header text-4xl font-semibold text-white">
					Vocal <br />
					Technique
				</span>
			</a>
			<a
				href="/"
				class="flex min-h-[144px] items-end rounded-md bg-[url('/assets/img/categories/Img_Category_DashboardBtns-StyleAndPerformance.jpg')] bg-cover bg-center p-4 shadow-[0px_4px_12px_#0000001F]"
			>
				<span class="block font-header text-4xl font-semibold text-white">
					Style And <br />
					Performance
				</span>
			</a>
		</div>

		<div class="mt-8 md:mt-14">
			<div class="flex justify-between border-b-2 border-brand-gray-lighter py-2">
				<h2 class="font-header text-xl font-semibold text-brand-black sm:text-2xl">RECENTLY WATCHED</h2>
				<a
					href="/"
					class="flex items-center gap-2 text-sm font-semibold text-brand-black"
				>
					View All
					<svg
						xmlns="http://www.w3.org/2000/svg"
						width="7"
						height="12"
						viewbox="0 0 7 12"
						class="h-3 w-3 rotate-180 text-brand-gray-light"
					>
						<path
							data-name="chevron_left"
							d="M5.21 11.704.294 6.753a.939.939 0 0 1-.227-.35 1.243 1.243 0 0 1 0-.807.939.939 0 0 1 .227-.35L5.21.295a1.093 1.093 0 0 1 1.5 0 1.113 1.113 0 0 1 0 1.507l-4.168 4.2 4.168 4.2a1.113 1.113 0 0 1 0 1.507 1.093 1.093 0 0 1-1.5 0Z"
							fill="currentColor"
						/>
					</svg>
				</a>
			</div>
			<div class="video-slider relative -mx-3 mt-4">
				<div>
					<a
						href="/"
						class="mx-3 block"
					>
						<img
							src="/assets/img/thumbnails/30DS_TUT_BeginnerCourse_Lvl2-Camille.jpg"
							alt=""
							class="w-full"
						/>
						<h3 class="mt-2.5 text-sm font-bold text-brand-black sm:text-base">30 Day Beginner Course</h3>
						<p class="text-xs text-brand-gray-dark sm:text-sm">By Camille van Niekerk</p>
					</a>
				</div>
				<div>
					<a
						href="/"
						class="mx-3 block"
					>
						<img
							src="/assets/img/thumbnails/30DS_TUT_BeginnerCourse_Lvl2-Abram.jpg"
							alt=""
							class="w-full"
						/>
						<h3 class="mt-2.5 text-sm font-bold text-brand-black sm:text-base">30 Day Beginner Course</h3>
						<p class="text-xs text-brand-gray-dark sm:text-sm">By Abram Poliakoff</p>
					</a>
				</div>
				<div>
					<a
						href="/"
						class="mx-3 block"
					>
						<img
							src="/assets/img/thumbnails/30DS_TUT_BeginnerQuickStartCourse-Jon.jpg"
							alt=""
							class="w-full"
						/>
						<h3 class="mt-2.5 text-sm font-bold text-brand-black sm:text-base">30 Day Beginner Course</h3>
						<p class="text-xs text-brand-gray-dark sm:text-sm">By Jon Statham</p>
					</a>
				</div>
				<div>
					<a
						href="/"
						class="mx-3 block"
					>
						<img
							src="/assets/img/thumbnails/30DS_TUT_BeginnerCourse_Lvl1-Jonathan.jpg"
							alt=""
							class="w-full"
						/>
						<h3 class="mt-2.5 text-sm font-bold text-brand-black sm:text-base">30 Day Beginner Course</h3>
						<p class="text-xs text-brand-gray-dark sm:text-sm">By Jonathan Estabrooks</p>
					</a>
				</div>
			</div>
		</div>
		<div class="mt-8 md:mt-14">
			<div class="flex justify-between border-b-2 border-brand-gray-lighter py-2">
				<h2 class="font-header text-xl font-semibold text-brand-black sm:text-2xl">NEWEST TUTORIALS</h2>
				<a
					href="/"
					class="flex items-center gap-2 text-sm font-semibold text-brand-black"
				>
					View All
					<svg
						xmlns="http://www.w3.org/2000/svg"
						width="7"
						height="12"
						viewbox="0 0 7 12"
						class="h-3 w-3 rotate-180 text-brand-gray-light"
					>
						<path
							data-name="chevron_left"
							d="M5.21 11.704.294 6.753a.939.939 0 0 1-.227-.35 1.243 1.243 0 0 1 0-.807.939.939 0 0 1 .227-.35L5.21.295a1.093 1.093 0 0 1 1.5 0 1.113 1.113 0 0 1 0 1.507l-4.168 4.2 4.168 4.2a1.113 1.113 0 0 1 0 1.507 1.093 1.093 0 0 1-1.5 0Z"
							fill="currentColor"
						/>
					</svg>
				</a>
			</div>
			<div class="video-slider relative -mx-3 mt-4">
				<div>
					<a
						href="/"
						class="mx-3 block"
					>
						<img
							src="/assets/img/thumbnails/30DS_TUT_BeginnerCourse_Lvl2-Camille.jpg"
							alt=""
							class="w-full"
						/>
						<h3 class="mt-2.5 text-sm font-bold text-brand-black sm:text-base">30 Day Beginner Course</h3>
						<p class="text-xs text-brand-gray-dark sm:text-sm">By Camille van Niekerk</p>
					</a>
				</div>
				<div>
					<a
						href="/"
						class="mx-3 block"
					>
						<img
							src="/assets/img/thumbnails/30DS_TUT_BeginnerCourse_Lvl2-Abram.jpg"
							alt=""
							class="w-full"
						/>
						<h3 class="mt-2.5 text-sm font-bold text-brand-black sm:text-base">30 Day Beginner Course</h3>
						<p class="text-xs text-brand-gray-dark sm:text-sm">By Abram Poliakoff</p>
					</a>
				</div>
				<div>
					<a
						href="/"
						class="mx-3 block"
					>
						<img
							src="/assets/img/thumbnails/30DS_TUT_BeginnerQuickStartCourse-Jon.jpg"
							alt=""
							class="w-full"
						/>
						<h3 class="mt-2.5 text-sm font-bold text-brand-black sm:text-base">30 Day Beginner Course</h3>
						<p class="text-xs text-brand-gray-dark sm:text-sm">By Jon Statham</p>
					</a>
				</div>
				<div>
					<a
						href="/"
						class="mx-3 block"
					>
						<img
							src="/assets/img/thumbnails/30DS_TUT_BeginnerCourse_Lvl1-Jonathan.jpg"
							alt=""
							class="w-full"
						/>
						<h3 class="mt-2.5 text-sm font-bold text-brand-black sm:text-base">30 Day Beginner Course</h3>
						<p class="text-xs text-brand-gray-dark sm:text-sm">By Jonathan Estabrooks</p>
					</a>
				</div>
			</div>
		</div>
		<div class="mt-8 md:mt-14">
			<div class="flex justify-between border-b-2 border-brand-gray-lighter py-2">
				<div class="flex items-center gap-2">
					<span class="h-4 w-4 rounded-full bg-brand-vibrant-red"></span>
					<h2 class="font-header text-xl font-semibold text-brand-black sm:text-2xl">UPCOMING LIVE STREAM</h2>
				</div>
				<a
					href="/"
					class="flex items-center gap-2 text-sm font-semibold text-brand-black"
				>
					View All
					<svg
						xmlns="http://www.w3.org/2000/svg"
						width="7"
						height="12"
						viewbox="0 0 7 12"
						class="h-3 w-3 rotate-180 text-brand-gray-light"
					>
						<path
							data-name="chevron_left"
							d="M5.21 11.704.294 6.753a.939.939 0 0 1-.227-.35 1.243 1.243 0 0 1 0-.807.939.939 0 0 1 .227-.35L5.21.295a1.093 1.093 0 0 1 1.5 0 1.113 1.113 0 0 1 0 1.507l-4.168 4.2 4.168 4.2a1.113 1.113 0 0 1 0 1.507 1.093 1.093 0 0 1-1.5 0Z"
							fill="currentColor"
						/>
					</svg>
				</a>
			</div>
			<div class="mt-4 flex flex-col gap-4 md:flex-row">
				<div class="md:w-1/2">
					<img
						src="/assets/img/thumbnails/30DS_TUT_BeginnerCourse_Lvl1-Jonathan.jpg"
						alt=""
						class="w-full"
					/>
				</div>
				<div class="md:w-1/2">
					<h3 class="text-xl font-bold text-brand-black">Agility Exercises For Your Voice</h3>
					<p class="mt-3 text-sm font-normal text-black">
						In this Live Lesson we'll cover: what a key is; how to find the key of any song; analyzing the
						melody's range &amp; demands; how to change keys and much more!
					</p>
				</div>
			</div>
		</div>
	</div>
</div>
