---
title: Homepage
permalink: /
layout: "layouts/base.html"
---

<div class="container flex gap-28 py-10 lg:pb-32 lg:pt-16">
	<div class="hidden w-1/4 pt-4 lg:block">{% include 'partials/sidebar.html' %}</div>
	<div class="w-full lg:w-3/4">
		<div class="grid grid-cols-1 gap-6 md:grid-cols-2">
			<a
				href="/"
				class="group relative flex min-h-[144px] items-end overflow-hidden rounded-md p-4 shadow-md"
			>
				<img
					src="/assets/img/categories/Img_Category_DashboardBtns-BeginnerCourses.jpg"
					class="absolute inset-0 h-full w-full object-cover transition-opacity duration-300 ease-in-out group-hover:opacity-90"
					alt=""
				/>
				<span class="relative z-10 block font-header text-4xl font-semibold text-white">
					Beginner <br />
					Courses
				</span>
			</a>
			<a
				href="/"
				class="group relative flex min-h-[144px] items-end overflow-hidden rounded-md p-4 shadow-md"
			>
				<img
					src="/assets/img/categories/Img_Category_DashboardBtns-EarTrainingAndHarmony.jpg"
					class="absolute inset-0 h-full w-full object-cover transition-opacity duration-300 ease-in-out group-hover:opacity-90"
					alt=""
				/>
				<span class="relative z-10 block font-header text-4xl font-semibold text-white">
					Ear Training <br />
					And Harmony
				</span>
			</a>
			<a
				href="/"
				class="group relative flex min-h-[144px] items-end overflow-hidden rounded-md p-4 shadow-md"
			>
				<img
					src="/assets/img/categories/Img_Category_DashboardBtns-VocalTechniques.jpg"
					class="absolute inset-0 h-full w-full object-cover transition-opacity duration-300 ease-in-out group-hover:opacity-90"
					alt=""
				/>
				<span class="relative z-10 block font-header text-4xl font-semibold text-white">
					Vocal <br />
					Technique
				</span>
			</a>
			<a
				href="/"
				class="group relative flex min-h-[144px] items-end overflow-hidden rounded-md p-4 shadow-md"
			>
				<img
					src="/assets/img/categories/Img_Category_DashboardBtns-StyleAndPerformance.jpg"
					class="absolute inset-0 h-full w-full object-cover transition-opacity duration-300 ease-in-out group-hover:opacity-90"
					alt=""
				/>
				<span class="relative z-10 block font-header text-4xl font-semibold text-white">
					Style And <br />
					Performance
				</span>
			</a>
		</div>

		<div class="mt-8 md:mt-14">
			<div class="flex justify-between border-b-2 border-brand-gray-lighter py-2">
				<h2 class="font-header text-xl font-semibold text-brand-black sm:text-2xl">RECENTLY WATCHED</h2>
				<a
					href="/"
					class="flex items-center gap-2 text-sm font-semibold text-brand-black"
				>
					View All
					<svg
						xmlns="http://www.w3.org/2000/svg"
						width="7"
						height="12"
						viewbox="0 0 7 12"
						class="h-3 w-3 rotate-180 text-brand-gray-light"
					>
						<path
							data-name="chevron_left"
							d="M5.21 11.704.294 6.753a.939.939 0 0 1-.227-.35 1.243 1.243 0 0 1 0-.807.939.939 0 0 1 .227-.35L5.21.295a1.093 1.093 0 0 1 1.5 0 1.113 1.113 0 0 1 0 1.507l-4.168 4.2 4.168 4.2a1.113 1.113 0 0 1 0 1.507 1.093 1.093 0 0 1-1.5 0Z"
							fill="currentColor"
						/>
					</svg>
				</a>
			</div>
			<div class="video-slider relative -mx-3 mt-4">
				<div>
					<a
						href="/"
						class="mx-3 block"
					>
						<img
							src="/assets/img/thumbnails/30DS_TUT_BeginnerCourse_Lvl2-Camille.jpg"
							alt=""
							class="aspect-[16/9] h-full w-full max-w-[180px] md:max-w-[170px] lg:max-w-xs"
						/>
						<h3 class="mt-2.5 text-sm font-bold text-brand-black sm:text-base">30 Day Beginner Course</h3>
						<p class="text-xs text-brand-gray-dark sm:text-sm">By Camille van Niekerk</p>
					</a>
				</div>
				<div>
					<a
						href="/"
						class="mx-3 block"
					>
						<img
							src="/assets/img/thumbnails/30DS_TUT_BeginnerCourse_Lvl2-Abram.jpg"
							alt=""
							class="aspect-[16/9] h-full w-full max-w-[180px] md:max-w-[170px] lg:max-w-xs"
						/>
						<h3 class="mt-2.5 text-sm font-bold text-brand-black sm:text-base">30 Day Beginner Course</h3>
						<p class="text-xs text-brand-gray-dark sm:text-sm">By Abram Poliakoff</p>
					</a>
				</div>
				<div>
					<a
						href="/"
						class="mx-3 block"
					>
						<img
							src="/assets/img/thumbnails/30DS_TUT_BeginnerQuickStartCourse-Jon.jpg"
							alt=""
							class="aspect-[16/9] h-full w-full max-w-[180px] md:max-w-[170px] lg:max-w-xs"
						/>
						<h3 class="mt-2.5 text-sm font-bold text-brand-black sm:text-base">30 Day Beginner Course</h3>
						<p class="text-xs text-brand-gray-dark sm:text-sm">By Jon Statham</p>
					</a>
				</div>
				<div>
					<a
						href="/"
						class="mx-3 block"
					>
						<img
							src="/assets/img/thumbnails/30DS_TUT_BeginnerCourse_Lvl1-Jonathan.jpg"
							alt=""
							class="aspect-[16/9] h-full w-full max-w-[180px] md:max-w-[170px] lg:max-w-xs"
						/>
						<h3 class="mt-2.5 text-sm font-bold text-brand-black sm:text-base">30 Day Beginner Course</h3>
						<p class="text-xs text-brand-gray-dark sm:text-sm">By Jonathan Estabrooks</p>
					</a>
				</div>
				<div>
					<a
						href="/"
						class="mx-3 block"
					>
						<img
							src="/assets/img/thumbnails/30DS_TUT_BeginnerCourse_Lvl1-Jonathan.jpg"
							alt=""
							class="aspect-[16/9] h-full w-full max-w-[180px] md:max-w-[170px] lg:max-w-xs"
						/>
						<h3 class="mt-2.5 text-sm font-bold text-brand-black sm:text-base">30 Day Beginner Course</h3>
						<p class="text-xs text-brand-gray-dark sm:text-sm">By Jonathan Estabrooks</p>
					</a>
				</div>
			</div>
		</div>
		<div class="mt-8 md:mt-14">
			<div class="flex justify-between border-b-2 border-brand-gray-lighter py-2">
				<h2 class="font-header text-xl font-semibold text-brand-black sm:text-2xl">NEWEST TUTORIALS</h2>
				<a
					href="/"
					class="flex items-center gap-2 text-sm font-semibold text-brand-black"
				>
					View All
					<svg
						xmlns="http://www.w3.org/2000/svg"
						width="7"
						height="12"
						viewbox="0 0 7 12"
						class="h-3 w-3 rotate-180 text-brand-gray-light"
					>
						<path
							data-name="chevron_left"
							d="M5.21 11.704.294 6.753a.939.939 0 0 1-.227-.35 1.243 1.243 0 0 1 0-.807.939.939 0 0 1 .227-.35L5.21.295a1.093 1.093 0 0 1 1.5 0 1.113 1.113 0 0 1 0 1.507l-4.168 4.2 4.168 4.2a1.113 1.113 0 0 1 0 1.507 1.093 1.093 0 0 1-1.5 0Z"
							fill="currentColor"
						/>
					</svg>
				</a>
			</div>
			<div class="video-slider relative -mx-3 mt-4">
				<div>
					<a
						href="/"
						class="mx-3 block"
					>
						<img
							src="/assets/img/thumbnails/30DS_TUT_BeginnerCourse_Lvl2-Camille.jpg"
							alt=""
							class="aspect-[16/9] h-full w-full max-w-[180px] md:max-w-[170px] lg:max-w-xs"
						/>
						<h3 class="mt-2.5 text-sm font-bold text-brand-black sm:text-base">30 Day Beginner Course</h3>
						<p class="text-xs text-brand-gray-dark sm:text-sm">By Camille van Niekerk</p>
					</a>
				</div>
				<div>
					<a
						href="/"
						class="mx-3 block"
					>
						<img
							src="/assets/img/thumbnails/30DS_TUT_BeginnerCourse_Lvl2-Abram.jpg"
							alt=""
							class="aspect-[16/9] h-full w-full max-w-[180px] md:max-w-[170px] lg:max-w-xs"
						/>
						<h3 class="mt-2.5 text-sm font-bold text-brand-black sm:text-base">30 Day Beginner Course</h3>
						<p class="text-xs text-brand-gray-dark sm:text-sm">By Abram Poliakoff</p>
					</a>
				</div>
				<div>
					<a
						href="/"
						class="mx-3 block"
					>
						<img
							src="/assets/img/thumbnails/30DS_TUT_BeginnerQuickStartCourse-Jon.jpg"
							alt=""
							class="aspect-[16/9] h-full w-full max-w-[180px] md:max-w-[170px] lg:max-w-xs"
						/>
						<h3 class="mt-2.5 text-sm font-bold text-brand-black sm:text-base">30 Day Beginner Course</h3>
						<p class="text-xs text-brand-gray-dark sm:text-sm">By Jon Statham</p>
					</a>
				</div>
				<div>
					<a
						href="/"
						class="mx-3 block"
					>
						<img
							src="/assets/img/thumbnails/30DS_TUT_BeginnerCourse_Lvl1-Jonathan.jpg"
							alt=""
							class="aspect-[16/9] h-full w-full max-w-[180px] md:max-w-[170px] lg:max-w-xs"
						/>
						<h3 class="mt-2.5 text-sm font-bold text-brand-black sm:text-base">30 Day Beginner Course</h3>
						<p class="text-xs text-brand-gray-dark sm:text-sm">By Jonathan Estabrooks</p>
					</a>
				</div>
				<div>
					<a
						href="/"
						class="mx-3 block"
					>
						<img
							src="/assets/img/thumbnails/30DS_TUT_BeginnerCourse_Lvl1-Jonathan.jpg"
							alt=""
							class="aspect-[16/9] h-full w-full max-w-[180px] md:max-w-[170px] lg:max-w-xs"
						/>
						<h3 class="mt-2.5 text-sm font-bold text-brand-black sm:text-base">30 Day Beginner Course</h3>
						<p class="text-xs text-brand-gray-dark sm:text-sm">By Jonathan Estabrooks</p>
					</a>
				</div>
			</div>
		</div>
		<div class="mt-8 md:mt-14">
			<div class="flex justify-between border-b-2 border-brand-gray-lighter py-2">
				<div class="flex items-center gap-2">
					<span class="h-4 w-4 rounded-full bg-brand-vibrant-red"></span>
					<h2 class="font-header text-xl font-semibold text-brand-black sm:text-2xl">UPCOMING LIVE STREAM</h2>
				</div>
				<a
					href="/"
					class="flex items-center gap-2 text-sm font-semibold text-brand-black"
				>
					View All
					<svg
						xmlns="http://www.w3.org/2000/svg"
						width="7"
						height="12"
						viewbox="0 0 7 12"
						class="h-3 w-3 rotate-180 text-brand-gray-light"
					>
						<path
							data-name="chevron_left"
							d="M5.21 11.704.294 6.753a.939.939 0 0 1-.227-.35 1.243 1.243 0 0 1 0-.807.939.939 0 0 1 .227-.35L5.21.295a1.093 1.093 0 0 1 1.5 0 1.113 1.113 0 0 1 0 1.507l-4.168 4.2 4.168 4.2a1.113 1.113 0 0 1 0 1.507 1.093 1.093 0 0 1-1.5 0Z"
							fill="currentColor"
						/>
					</svg>
				</a>
			</div>
			<div class="mt-4 flex flex-col gap-4 md:flex-row">
				<div class="md:w-1/2">
					<img
						src="/assets/img/thumbnails/30DS_TUT_BeginnerCourse_Lvl1-Jonathan.jpg"
						alt=""
						class="w-full"
					/>
				</div>
				<div class="md:w-1/2">
					<h3 class="text-xl font-bold text-brand-black">Agility Exercises For Your Voice</h3>
					<p class="mt-3 text-sm font-normal text-black">
						In this Live Lesson we'll cover: what a key is; how to find the key of any song; analyzing the
						melody's range &amp; demands; how to change keys and much more!
					</p>
				</div>
			</div>
		</div>
	</div>
</div>
