---
title: Login
permalink: /login/
layout: "layouts/base.html"
---

<div class="-mb-16 bg-[url('/assets/img/bg-login.jpg')] bg-cover bg-center">
	<div class="container pt-16 pb-32 md:pt-36 md:pb-52">
		<div class="mx-auto block max-w-xl rounded-lg bg-white px-6 py-8 shadow-[0_4px_12px_rgba(0,0,0,0.08)]">
			<h1 class="text-center text-4xl font-bold text-black">Login</h1>

			<button
				class="group relative mx-auto mt-8 block w-full rounded bg-brand-primary py-4 px-8 text-center text-base font-bold text-white transition-colors duration-300 ease-in-out hover:bg-brand-vibrant-yellow hover:text-black"
			>
				<svg
					xmlns="http://www.w3.org/2000/svg"
					viewBox="0 0 24 24"
					width="24"
					height="24"
					class="absolute left-4 text-white transition-colors duration-300 ease-in-out group-hover:text-black"
				>
					<path
						fill="none"
						d="M0 0h24v24H0z"
					/>
					<path
						fill="currentColor"
						d="M14 13.5h2.5l1-4H14v-2c0-1.03 0-2 2-2h1.5V2.14c-.326-.043-1.557-.14-2.857-.14C11.928 2 10 3.657 10 6.7v2.8H7v4h3V22h4v-8.5z"
					/>
				</svg>
				Continue with Facebook
			</button>
			<button
				class="group relative mx-auto mt-4 block w-full rounded bg-brand-primary py-4 px-8 text-center text-base font-bold text-white transition-colors duration-300 ease-in-out hover:bg-brand-vibrant-yellow hover:text-black"
			>
				<svg
					xmlns="http://www.w3.org/2000/svg"
					viewBox="0 0 24 24"
					width="24"
					height="24"
					class="absolute left-4 text-white transition-colors duration-300 ease-in-out group-hover:text-black"
				>
					<path
						fill="none"
						d="M0 0h24v24H0z"
					/>
					<path
						fill="currentColor"
						d="M3.064 7.51A9.996 9.996 0 0 1 12 2c2.695 0 4.959.99 6.69 2.605l-2.867 2.868C14.786 6.482 13.468 5.977 12 5.977c-2.605 0-4.81 1.76-5.595 4.123-.2.6-.314 1.24-.314 1.9 0 .66.114 1.3.314 1.9.786 2.364 2.99 4.123 5.595 4.123 1.345 0 2.49-.355 3.386-.955a4.6 4.6 0 0 0 1.996-3.018H12v-3.868h9.418c.118.654.182 1.336.182 2.045 0 3.046-1.09 5.61-2.982 7.35C16.964 21.105 14.7 22 12 22A9.996 9.996 0 0 1 2 12c0-1.614.386-3.14 1.064-4.49z"
					/>
				</svg>
				Continue with Google
			</button>

			<p class="mt-8 text-center text-base font-semibold text-black">Or continue with your email:</p>

			<form
				action=""
				class="mt-8"
			>
				<input
					type="email"
					placeholder="Email"
					class="h-[52px] w-full rounded border-2 border-brand-gray-light bg-white focus:border-brand-gray-dark focus:ring-0"
				/>
				<input
					type="password"
					placeholder="Password"
					class="mt-4 h-[52px] w-full rounded border-2 border-brand-gray-light bg-white focus:border-brand-gray-dark focus:ring-0"
				/>
			</form>

			<div class="mt-8 flex w-full items-center gap-4 md:gap-8">
				<button
					class="block w-full flex-1 rounded bg-brand-primary py-4 px-8 text-center text-base font-bold text-white transition-colors duration-300 ease-in-out hover:bg-brand-vibrant-yellow hover:text-black"
				>
					Login
				</button>
				<a
					href="/"
					class="flex-1 text-center text-sm font-semibold text-black md:text-base"
				>
					Forgot Your Password?
				</a>
			</div>

			<div class="mt-8 border-t border-brand-gray-light pt-6 text-center">
				<a
					href="/"
					class="flex-1 text-center text-base text-black"
				>
					Don’t have an account yet?
				</a>

				<button
					class="mt-6 block w-full rounded bg-brand-vibrant-yellow py-4 px-8 text-center text-base font-bold text-black transition-colors duration-300 ease-in-out hover:bg-brand-primary hover:text-white"
				>
					Make A Free Account
				</button>
			</div>
		</div>
	</div>
</div>
