---
title: Template
permalink: /template
layout: "layouts/base.html"
---

<div class="container flex gap-28 py-10 lg:pb-32 lg:pt-16">
	<div class="hidden w-1/4 pt-4 lg:block">{% include 'partials/sidebar.html' %}</div>
	<div class="w-full lg:w-3/4"></div>
</div>
