---
title: Unlock
permalink: /unlock/
layout: "layouts/base.html"
header: "clean"
---

<div class="relative">
	<img
		src="/assets/img/hero-unlock.png"
		alt=""
		class="absolute inset-0 h-full w-full object-cover"
		style="clip-path: polygon(0 0, 100% 0, 100% 80%, 0% 100%)"
	/>
	<div class="container relative pt-20 pb-40">
		<div class="text-center">
			<span class="block text-xl font-medium uppercase text-white sm:text-3xl">Upgrade to Full Access</span>
			<h1 class="mx-auto mt-4 max-w-xl text-center text-5xl font-bold text-white md:text-7xl">
				Unlock Your Best Singing Voice!
			</h1>
		</div>
		<img
			src="/assets/img/video-unlock.png"
			alt=""
			class="mx-auto mt-10 -mb-56 block md:mt-16 md:-mb-96"
		/>
	</div>
</div>

<div class="mt-24 bg-white pb-16 md:mt-64">
	<div class="mt-7 flex flex-col items-center justify-center gap-8 md:flex-row">
		<div class="flex gap-2">
			<div>
				<img
					src="/assets/img/awards/Award-1-GOLD.svg"
					alt=""
					class="h-20 w-20"
				/>
			</div>
			<div>
				<img
					src="/assets/img/awards/Award-2-GOLD.svg"
					alt=""
					class="h-20 w-20"
				/>
			</div>
			<div>
				<img
					src="/assets/img/awards/Award-3-GOLD.svg"
					alt=""
					class="h-20 w-20"
				/>
			</div>
		</div>
		<div class="flex justify-between gap-10 rounded-lg border border-brand-gray-light p-6">
			<span class="text-sm text-black">
				FEATURING *
				<span class="block font-bold">Reagan James From</span>
			</span>
			<div>
				<img
					src="/assets/img/icon-voice.png"
					alt=""
					style="width: 77px; height: 41px"
				/>
			</div>
		</div>
	</div>
</div>

<div class="container relative z-10 xl:pt-8">
	<div class="mx-auto flex w-full flex-col justify-center gap-6 lg:flex-row xl:w-3/4">
		<div class="block flex-1 rounded-lg bg-white px-6 py-8 shadow-md">
			<h1 class="text-center text-4xl font-bold text-black">Register</h1>

			<div class="mt-8 h-60 overflow-auto rounded border border-brand-gray-light p-6 pr-8">
				<p class="text-sm text-black">
					TERMS OF SERVICE EFFECTIVE DATE: February 8, 2019
					<br />
					<br />
					Welcome to the 30 Day Singer learning service (referred to herein as either www.30daysinger.com, the
					“Site”), owned and operated by 30 Day Lessons Inc. (‘Company”). Subject to the following Terms of
					Service (“Terms”), 30 Day Singer provides users of the Site with access to services, including a
					collection of singing lessons, singing resources, and forums of users and subscribers (“Services”).
					We reserve the right to add, delete and/or modify any of the terms and conditions contained in this
					Agreement. In the event of substantive changes to the terms of this Agreement, you will be notified
					with a notice on the site. If any modification is unacceptable to you, your only recourse is to
					discontinue use of the Services. Your continued use of the Services following posting of a change
					notice or new agreement on the Site or notice to you via e-mail, will constitute your binding
					acceptance of the changes. 1. BINDING EFFECT. This is a binding agreement. By using this services
					provided in connection with the Site, you agree to abide by these Terms, as Company may amend them
					from time to time in its sole discretion. No one under 13 is allowed to create an account or use the
					Services. By using the Services, you state that:
				</p>
			</div>

			<p class="mt-8 text-center text-sm text-black 2xl:px-2">
				Do you agree to our Terms of Service and Privacy Policy, which explain how we collect, store and use
				your email address and data?
			</p>

			<form action="">
				<label class="mt-6 flex items-center justify-center gap-4 text-sm font-semibold">
					<input
						type="checkbox"
						class="rounded border-2 border-brand-gray-light"
					/>
					Yes, I have read and agree to both.
				</label>

				<input
					type="email"
					placeholder="Email"
					class="mt-6 h-[52px] w-full rounded border-2 border-brand-gray-light bg-white focus:border-brand-gray-dark focus:ring-0"
				/>

				<button
					class="mt-6 block w-full flex-1 rounded bg-brand-vibrant-yellow py-4 px-8 text-center text-base font-bold text-black transition-colors duration-300 ease-in-out hover:bg-brand-primary hover:text-white"
				>
					Get Started
				</button>
			</form>
		</div>
		<div class="flex-1">
			<div class="block rounded-lg bg-white px-6 py-8 shadow-md">
				<h1 class="text-center text-4xl font-bold text-black">Login</h1>
				<button
					class="group relative mx-auto mt-8 block w-full rounded bg-brand-primary py-4 px-8 text-center text-base font-bold text-white transition-colors duration-300 ease-in-out hover:bg-brand-vibrant-yellow hover:text-black"
				>
					<svg
						xmlns="http://www.w3.org/2000/svg"
						viewBox="0 0 24 24"
						width="24"
						height="24"
						class="absolute left-4 text-white transition-colors duration-300 ease-in-out group-hover:text-black"
					>
						<path
							fill="none"
							d="M0 0h24v24H0z"
						/>
						<path
							fill="currentColor"
							d="M14 13.5h2.5l1-4H14v-2c0-1.03 0-2 2-2h1.5V2.14c-.326-.043-1.557-.14-2.857-.14C11.928 2 10 3.657 10 6.7v2.8H7v4h3V22h4v-8.5z"
						/>
					</svg>
					Continue with Facebook
				</button>
				<button
					class="group relative mx-auto mt-4 block w-full rounded bg-brand-primary py-4 px-8 text-center text-base font-bold text-white transition-colors duration-300 ease-in-out hover:bg-brand-vibrant-yellow hover:text-black"
				>
					<svg
						xmlns="http://www.w3.org/2000/svg"
						viewBox="0 0 24 24"
						width="24"
						height="24"
						class="absolute left-4 text-white transition-colors duration-300 ease-in-out group-hover:text-black"
					>
						<path
							fill="none"
							d="M0 0h24v24H0z"
						/>
						<path
							fill="currentColor"
							d="M3.064 7.51A9.996 9.996 0 0 1 12 2c2.695 0 4.959.99 6.69 2.605l-2.867 2.868C14.786 6.482 13.468 5.977 12 5.977c-2.605 0-4.81 1.76-5.595 4.123-.2.6-.314 1.24-.314 1.9 0 .66.114 1.3.314 1.9.786 2.364 2.99 4.123 5.595 4.123 1.345 0 2.49-.355 3.386-.955a4.6 4.6 0 0 0 1.996-3.018H12v-3.868h9.418c.118.654.182 1.336.182 2.045 0 3.046-1.09 5.61-2.982 7.35C16.964 21.105 14.7 22 12 22A9.996 9.996 0 0 1 2 12c0-1.614.386-3.14 1.064-4.49z"
						/>
					</svg>
					Continue with Google
				</button>
				<p class="mt-8 text-center text-base font-semibold text-black">Or continue with your email:</p>
				<form
					action=""
					class="mt-8"
				>
					<input
						type="email"
						placeholder="Email"
						class="h-[52px] w-full rounded border-2 border-brand-gray-light bg-white focus:border-brand-gray-dark focus:ring-0"
					/>
					<input
						type="password"
						placeholder="Password"
						class="mt-4 h-[52px] w-full rounded border-2 border-brand-gray-light bg-white focus:border-brand-gray-dark focus:ring-0"
					/>
				</form>
				<div class="mt-8 flex w-full items-center gap-4 md:gap-8">
					<button
						class="block w-full flex-1 rounded bg-brand-primary py-4 px-8 text-center text-base font-bold text-white transition-colors duration-300 ease-in-out hover:bg-brand-vibrant-yellow hover:text-black"
					>
						Login
					</button>
					<a
						href="/"
						class="flex-1 text-center text-sm font-semibold text-black md:text-base"
					>
						Forgot Your Password?
					</a>
				</div>
			</div>
		</div>
	</div>
</div>

<div
	class="-mt-80 h-96 w-full rotate-180 bg-brand-gray-lighter"
	style="clip-path: polygon(0 0, 100% 0, 100% 80%, 0% 100%)"
></div>

<div class="relative bg-[url('/assets/img/bg-banner-unlock.jpg')] bg-cover bg-right-bottom bg-no-repeat">
	<img
		src="/assets/img/banner-unlock.jpg"
		alt=""
		class="w-full object-cover md:absolute md:inset-y-0 md:left-0 md:h-full md:w-1/2"
	/>
	<div class="container flex py-12 md:py-24">
		<div class="md:ml-auto md:w-1/2 md:px-10 lg:px-20">
			<h2 class="text-5xl font-bold text-white lg:text-6xl 2xl:pr-8">
				30 Days Money Back <span class="text-brand-vibrant-yellow">Guarantee</span>
			</h2>
			<p class="mt-4 text-xl text-white lg:text-2xl 2xl:pr-24">
				Try our services for 30 days. If you’re not completely satisfied, we’ll give you your money back. No
				questions asked!
			</p>

			<img
				src="/assets/img/guarantee/30-day-money-back-yellow.svg"
				alt=""
				class="mt-10 h-40 w-auto"
			/>
		</div>
	</div>
</div>

<div class="py-12 md:pt-24">
	<div class="container">
		<h2 class="text-center text-6xl font-bold text-black">Real results in as little as 30 Days!</h2>
		<p class="mt-4 text-center text-2xl text-black">
			Trusted by thousands of singers taught from around the world
		</p>

		<div class="mt-14 grid grid-cols-1 gap-6 md:grid-cols-3">
			<div class="">
				<img
					src="/assets/img/thumbnails/30DS_Reviews_thumb-Veronique.jpg"
					alt=""
					class="w-full overflow-hidden rounded-lg shadow-xl"
				/>
				<p class="text-bse mt-6 text-center text-black">Veronique Graves Review</p>
			</div>
			<div class="">
				<img
					src="/assets/img/thumbnails/30DS_Reviews_thumb-Nicholas.jpg"
					alt=""
					class="w-full overflow-hidden rounded-lg shadow-xl"
				/>
				<p class="text-bse mt-6 text-center text-black">Nicholas Constable Review</p>
			</div>
			<div class="">
				<img
					src="/assets/img/thumbnails/30DS_Reviews_thumb-GianinaVergaraLagos.jpg"
					alt=""
					class="w-full overflow-hidden rounded-lg shadow-xl"
				/>
				<p class="text-bse mt-6 text-center text-black">Gianina Vergara Lagos Review</p>
			</div>
		</div>
	</div>
</div>

<div class="py-12 pb-24">
	<div class="container">
		<div class="relative w-full border-t border-brand-gray-light">
			<svg
				xmlns="http://www.w3.org/2000/svg"
				width="30"
				height="24"
				viewBox="0 0 30 24"
				class="absolute top-0 left-1/2 -translate-x-1/2 -translate-y-1/2 transform"
			>
				<path
					fill="#20252b"
					d="M11.898 13.23H7.385c0-4.922 1.231-8.307 3.077-13.23h-5.23C2.461 5.333.821 9.641.821 16.923V24h11.076zm17.846 0H25.13c0-4.922 1.23-8.307 3.18-13.23h-5.231c-2.975 5.333-4.513 9.641-4.513 16.923V24h11.18z"
				/>
			</svg>
		</div>
		<div class="mx-auto mt-12 lg:w-2/3">
			<div class="review-slider">
				<div>
					<div class="flex flex-col justify-between gap-6 md:flex-row md:gap-10 lg:gap-20">
						<div class="md:w-7/12 md:py-10">
							<h3 class="font-header text-4xl font-bold uppercase text-black">
								The course is great, straight to the point, and very easy to follow.
							</h3>
							<p class="mt-6 text-base text-black">
								The course is great, straight to the point, and very easy to follow course. At first, I had my
								doubts about it, but the the second week, and after doing all the vocals exercises on a daily
								basis as instructed, I started to feel a difference. My voice is very clear now, and I can
								easily hit high notes I wasn’t able to do so before. And most importantly, I’m confidently now
								a lead vocal in my band, thanks to 30DaySinger.com!
							</p>
							<span class="mt-6 block text-xl font-bold text-black"> Jasmin </span>
							<span class="text-sm text-brand-gray-dark">30 Day Singer Student </span>
						</div>
						<img
							src="https://images.pexels.com/photos/7149165/pexels-photo-7149165.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
							alt=""
							class="overflow-hidden rounded-xl object-cover md:w-5/12"
						/>
					</div>
				</div>
				<div>
					<div class="flex flex-col justify-between gap-6 md:flex-row md:gap-10 lg:gap-20">
						<div class="md:w-7/12 md:py-10">
							<h3 class="font-header text-4xl font-bold uppercase text-black">
								The course is great, straight to the point, and very easy to follow.
							</h3>
							<p class="mt-6 text-base text-black">
								The course is great, straight to the point, and very easy to follow course. At first, I had my
								doubts about it, but the the second week, and after doing all the vocals exercises on a daily
								basis as instructed, I started to feel a difference. My voice is very clear now, and I can
								easily hit high notes I wasn’t able to do so before. And most importantly, I’m confidently now
								a lead vocal in my band, thanks to 30DaySinger.com!
							</p>
							<span class="mt-6 block text-xl font-bold text-black"> Jasmin </span>
							<span class="text-sm text-brand-gray-dark">30 Day Singer Student </span>
						</div>
						<img
							src="https://images.pexels.com/photos/7149165/pexels-photo-7149165.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
							alt=""
							class="overflow-hidden rounded-xl object-cover md:w-5/12"
						/>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="bg-brand-gray-lighter pt-12 pb-32 md:pt-24 md:pb-40">
	<div class="container">
		<h3 class="text-center text-4xl font-bold text-black lg:text-6xl">
			Frequently Asked <span class="text-brand-primary">Questions</span>
		</h3>
		<p class="mt-2.5 text-center text-xl text-black lg:text-2xl">
			Here are some answers to frequently asked questions.
		</p>
		<div
			class="mt-14 space-y-6"
			x-data="{ active: 1 }"
		>
			<div
				class="rounded-lg border-2 border-brand-gray-light bg-white p-3 shadow-md md:p-6"
				x-data="{
						id: 1,
						get expanded() {
								return this.active === this.id
						},
						set expanded(value) {
								this.active = value ? this.id : null
						},
				}"
				role="region"
			>
				<button
					class="flex w-full items-center justify-between"
					@click="expanded = !expanded"
					:aria-expanded="expanded"
				>
					<span class="pr-8 text-left text-base font-bold">Will the course work for beginners?</span>
					<span
						class="text-brand-primary"
						x-show="!expanded"
						aria-hidden="true"
						x-cloak
					>
						<svg
							xmlns="http://www.w3.org/2000/svg"
							fill="none"
							viewBox="0 0 24 24"
							stroke-width="1.5"
							stroke="currentColor"
							class="h-6 w-6"
						>
							<path
								stroke-linecap="round"
								stroke-linejoin="round"
								d="M12 4.5v15m7.5-7.5h-15"
							/>
						</svg>
					</span>
					<span
						class="text-brand-primary"
						x-show="expanded"
						aria-hidden="true"
						x-cloak
					>
						<svg
							xmlns="http://www.w3.org/2000/svg"
							fill="none"
							viewBox="0 0 24 24"
							stroke-width="1.5"
							stroke="currentColor"
							class="h-6 w-6"
						>
							<path
								stroke-linecap="round"
								stroke-linejoin="round"
								d="M19.5 12h-15"
							/>
						</svg>
					</span>
				</button>
				<div
					class="pt-4 pr-8 md:pt-6 md:pr-16"
					x-show="expanded"
					x-collapse
					x-cloak
				>
					<p class="text-base text-black">
						Yes! If you take the time to follow along with the all the exercises and even repeat lessons where
						you feel you need more work, you will improve. The more consistent you are, the better the
						results.
					</p>
				</div>
			</div>
			<div
				class="rounded-lg border-2 border-brand-gray-light bg-white p-3 shadow-md md:p-6"
				x-data="{
						id: 2,
						get expanded() {
								return this.active === this.id
						},
						set expanded(value) {
								this.active = value ? this.id : null
						},
				}"
				role="region"
			>
				<button
					class="flex w-full items-center justify-between"
					@click="expanded = !expanded"
					:aria-expanded="expanded"
				>
					<span class="pr-8 text-left text-base font-bold"
						>Is it true that some people are born “musical” and that I might be “tone-deaf”?</span
					>
					<span
						class="text-brand-primary"
						x-show="!expanded"
						aria-hidden="true"
						x-cloak
					>
						<svg
							xmlns="http://www.w3.org/2000/svg"
							fill="none"
							viewBox="0 0 24 24"
							stroke-width="1.5"
							stroke="currentColor"
							class="h-6 w-6"
						>
							<path
								stroke-linecap="round"
								stroke-linejoin="round"
								d="M12 4.5v15m7.5-7.5h-15"
							/>
						</svg>
					</span>
					<span
						class="text-brand-primary"
						x-show="expanded"
						aria-hidden="true"
						x-cloak
					>
						<svg
							xmlns="http://www.w3.org/2000/svg"
							fill="none"
							viewBox="0 0 24 24"
							stroke-width="1.5"
							stroke="currentColor"
							class="h-6 w-6"
						>
							<path
								stroke-linecap="round"
								stroke-linejoin="round"
								d="M19.5 12h-15"
							/>
						</svg>
					</span>
				</button>
				<div
					class="pt-4 pr-8 md:pt-6 md:pr-16"
					x-show="expanded"
					x-collapse
					x-cloak
				>
					<p class="text-base text-black">
						Yes! If you take the time to follow along with the all the exercises and even repeat lessons where
						you feel you need more work, you will improve. The more consistent you are, the better the
						results.
					</p>
				</div>
			</div>
			<div
				class="rounded-lg border-2 border-brand-gray-light bg-white p-3 shadow-md md:p-6"
				x-data="{
						id: 3,
						get expanded() {
								return this.active === this.id
						},
						set expanded(value) {
								this.active = value ? this.id : null
						},
				}"
				role="region"
			>
				<button
					class="flex w-full items-center justify-between"
					@click="expanded = !expanded"
					:aria-expanded="expanded"
				>
					<span class="pr-8 text-left text-base font-bold"
						>Is it really true that I will notice a difference in my singing voice in only 30 days?</span
					>
					<span
						class="text-brand-primary"
						x-show="!expanded"
						aria-hidden="true"
						x-cloak
					>
						<svg
							xmlns="http://www.w3.org/2000/svg"
							fill="none"
							viewBox="0 0 24 24"
							stroke-width="1.5"
							stroke="currentColor"
							class="h-6 w-6"
						>
							<path
								stroke-linecap="round"
								stroke-linejoin="round"
								d="M12 4.5v15m7.5-7.5h-15"
							/>
						</svg>
					</span>
					<span
						class="text-brand-primary"
						x-show="expanded"
						aria-hidden="true"
						x-cloak
					>
						<svg
							xmlns="http://www.w3.org/2000/svg"
							fill="none"
							viewBox="0 0 24 24"
							stroke-width="1.5"
							stroke="currentColor"
							class="h-6 w-6"
						>
							<path
								stroke-linecap="round"
								stroke-linejoin="round"
								d="M19.5 12h-15"
							/>
						</svg>
					</span>
				</button>
				<div
					class="pt-4 pr-8 md:pt-6 md:pr-16"
					x-show="expanded"
					x-collapse
					x-cloak
				>
					<p class="text-base text-black">
						Yes! If you take the time to follow along with the all the exercises and even repeat lessons where
						you feel you need more work, you will improve. The more consistent you are, the better the
						results.
					</p>
				</div>
			</div>
			<div
				class="rounded-lg border-2 border-brand-gray-light bg-white p-3 shadow-md md:p-6"
				x-data="{
						id: 4,
						get expanded() {
								return this.active === this.id
						},
						set expanded(value) {
								this.active = value ? this.id : null
						},
				}"
				role="region"
			>
				<button
					class="flex w-full items-center justify-between"
					@click="expanded = !expanded"
					:aria-expanded="expanded"
				>
					<span class="pr-8 text-left text-base font-bold"
						>What if I can’t practice every day? Can I take longer?</span
					>
					<span
						class="text-brand-primary"
						x-show="!expanded"
						aria-hidden="true"
						x-cloak
					>
						<svg
							xmlns="http://www.w3.org/2000/svg"
							fill="none"
							viewBox="0 0 24 24"
							stroke-width="1.5"
							stroke="currentColor"
							class="h-6 w-6"
						>
							<path
								stroke-linecap="round"
								stroke-linejoin="round"
								d="M12 4.5v15m7.5-7.5h-15"
							/>
						</svg>
					</span>
					<span
						class="text-brand-primary"
						x-show="expanded"
						aria-hidden="true"
						x-cloak
					>
						<svg
							xmlns="http://www.w3.org/2000/svg"
							fill="none"
							viewBox="0 0 24 24"
							stroke-width="1.5"
							stroke="currentColor"
							class="h-6 w-6"
						>
							<path
								stroke-linecap="round"
								stroke-linejoin="round"
								d="M19.5 12h-15"
							/>
						</svg>
					</span>
				</button>
				<div
					class="pt-4 pr-8 md:pt-6 md:pr-16"
					x-show="expanded"
					x-collapse
					x-cloak
				>
					<p class="text-base text-black">
						Yes! If you take the time to follow along with the all the exercises and even repeat lessons where
						you feel you need more work, you will improve. The more consistent you are, the better the
						results.
					</p>
				</div>
			</div>
			<div
				class="rounded-lg border-2 border-brand-gray-light bg-white p-3 shadow-md md:p-6"
				x-data="{
						id: 5,
						get expanded() {
								return this.active === this.id
						},
						set expanded(value) {
								this.active = value ? this.id : null
						},
				}"
				role="region"
			>
				<button
					class="flex w-full items-center justify-between"
					@click="expanded = !expanded"
					:aria-expanded="expanded"
				>
					<span class="pr-8 text-left text-base font-bold"
						>It says that there are guaranteed results, what does that mean?</span
					>
					<span
						class="text-brand-primary"
						x-show="!expanded"
						aria-hidden="true"
						x-cloak
					>
						<svg
							xmlns="http://www.w3.org/2000/svg"
							fill="none"
							viewBox="0 0 24 24"
							stroke-width="1.5"
							stroke="currentColor"
							class="h-6 w-6"
						>
							<path
								stroke-linecap="round"
								stroke-linejoin="round"
								d="M12 4.5v15m7.5-7.5h-15"
							/>
						</svg>
					</span>
					<span
						class="text-brand-primary"
						x-show="expanded"
						aria-hidden="true"
						x-cloak
					>
						<svg
							xmlns="http://www.w3.org/2000/svg"
							fill="none"
							viewBox="0 0 24 24"
							stroke-width="1.5"
							stroke="currentColor"
							class="h-6 w-6"
						>
							<path
								stroke-linecap="round"
								stroke-linejoin="round"
								d="M19.5 12h-15"
							/>
						</svg>
					</span>
				</button>
				<div
					class="pt-4 pr-8 md:pt-6 md:pr-16"
					x-show="expanded"
					x-collapse
					x-cloak
				>
					<p class="text-base text-black">
						Yes! If you take the time to follow along with the all the exercises and even repeat lessons where
						you feel you need more work, you will improve. The more consistent you are, the better the
						results.
					</p>
				</div>
			</div>
			<div
				class="rounded-lg border-2 border-brand-gray-light bg-white p-3 shadow-md md:p-6"
				x-data="{
						id: 6,
						get expanded() {
								return this.active === this.id
						},
						set expanded(value) {
								this.active = value ? this.id : null
						},
				}"
				role="region"
			>
				<button
					class="flex w-full items-center justify-between"
					@click="expanded = !expanded"
					:aria-expanded="expanded"
				>
					<span class="pr-8 text-left text-base font-bold">Will I be playing guitar during the course?</span>
					<span
						class="text-brand-primary"
						x-show="!expanded"
						aria-hidden="true"
						x-cloak
					>
						<svg
							xmlns="http://www.w3.org/2000/svg"
							fill="none"
							viewBox="0 0 24 24"
							stroke-width="1.5"
							stroke="currentColor"
							class="h-6 w-6"
						>
							<path
								stroke-linecap="round"
								stroke-linejoin="round"
								d="M12 4.5v15m7.5-7.5h-15"
							/>
						</svg>
					</span>
					<span
						class="text-brand-primary"
						x-show="expanded"
						aria-hidden="true"
						x-cloak
					>
						<svg
							xmlns="http://www.w3.org/2000/svg"
							fill="none"
							viewBox="0 0 24 24"
							stroke-width="1.5"
							stroke="currentColor"
							class="h-6 w-6"
						>
							<path
								stroke-linecap="round"
								stroke-linejoin="round"
								d="M19.5 12h-15"
							/>
						</svg>
					</span>
				</button>
				<div
					class="pt-4 pr-8 md:pt-6 md:pr-16"
					x-show="expanded"
					x-collapse
					x-cloak
				>
					<p class="text-base text-black">
						Yes! If you take the time to follow along with the all the exercises and even repeat lessons where
						you feel you need more work, you will improve. The more consistent you are, the better the
						results.
					</p>
				</div>
			</div>
		</div>
	</div>
</div>
