---
title: Trial
permalink: /upgrade/
layout: "layouts/base.html"
header: "clean"
---

<div class="relative -mb-16 bg-white lg:py-10 lg:pb-32">
	<div class="absolute inset-y-0 left-0 hidden h-full w-1/3 bg-brand-gray-lighter lg:block"></div>
	<div class="container relative flex flex-col justify-between lg:flex-row">
		<div class="-mx-4 bg-brand-gray-lighter px-4 py-10 lg:w-1/3 lg:py-0 lg:pr-20">
			<h1 class="text-4xl font-bold text-black">Become a Better Singer in Only 30 Days!</h1>
			<p class="mt-4 text-base font-medium text-black">
				Easy, Fast and Fun online singing lessons that work!
			</p>
			<div
				class="mt-8 space-y-4 divide-y divide-brand-gray-light border-t border-dashed border-brand-gray-light pt-4"
			>
				<div class="flex items-center gap-4">
					<svg
						xmlns="http://www.w3.org/2000/svg"
						fill="none"
						viewBox="0 0 24 24"
						stroke-width="1.5"
						stroke="currentColor"
						class="h-6 w-6 text-brand-primary"
					>
						<path
							stroke-linecap="round"
							stroke-linejoin="round"
							d="M4.26 10.147a60.436 60.436 0 00-.491 6.347A48.627 48.627 0 0112 20.904a48.627 48.627 0 018.232-4.41 60.46 60.46 0 00-.491-6.347m-15.482 0a50.57 50.57 0 00-2.658-.813A59.905 59.905 0 0112 3.493a59.902 59.902 0 0110.399 5.84c-.896.248-1.783.52-2.658.814m-15.482 0A50.697 50.697 0 0112 13.489a50.702 50.702 0 017.74-3.342M6.75 15a.75.75 0 100-1.5.75.75 0 000 1.5zm0 0v-3.675A55.378 55.378 0 0112 8.443m-7.007 11.55A5.981 5.981 0 006.75 15.75v-1.5"
						/>
					</svg>

					<span class="text-base font-bold">30 Day Beginner Courses</span>
				</div>
				<div class="flex items-center gap-4 pt-4">
					<svg
						xmlns="http://www.w3.org/2000/svg"
						width="19"
						height="19"
						viewBox="0 0 19 19"
						class="h-5 w-5 text-brand-primary"
					>
						<path
							fill="#39f"
							d="M7.162 11.175l-3.15-2.05h3.775L9.212 4.8l1.425 4.325h3.775l-3.15 2.05 1.375 4.325-3.425-2.6-3.425 2.6zm2.05 3.7l5.25 4c.15.117.296.121.437.013.142-.109.188-.254.138-.438l-1.975-6.475 5.2-3.725c.15-.1.196-.237.137-.412-.058-.175-.179-.263-.362-.263h-6.425l-2.05-6.8a.504.504 0 0 0-.138-.2A.315.315 0 0 0 9.212.5a.315.315 0 0 0-.213.075.504.504 0 0 0-.137.2l-2.05 6.8H.387c-.183 0-.304.088-.363.263-.058.175-.012.312.138.412l5.2 3.725-1.975 6.475c-.05.184-.004.33.137.438.142.108.288.104.438-.013z"
						/>
					</svg>

					<span class="text-base font-bold">Style Studies</span>
				</div>
				<div class="flex items-center gap-4 pt-4">
					<svg
						xmlns="http://www.w3.org/2000/svg"
						width="19"
						height="19"
						viewBox="0 0 19 19"
						class="h-5 w-5 text-brand-primary"
					>
						<path
							fill="#39f"
							d="M1.5 12.975h4.525V17.5H1.5zm10.45 0h4.525V17.5H11.95zM10.825 5.1l3.225-3.225L17.275 5.1 14.05 8.325zM1.5 2.525h4.525V7.05H1.5zM6.775 19a.728.728 0 0 0 .75-.75v-6.025a.728.728 0 0 0-.75-.75H.75a.728.728 0 0 0-.75.75v6.025a.728.728 0 0 0 .75.75zm10.45 0a.728.728 0 0 0 .75-.75v-6.025a.728.728 0 0 0-.75-.75H11.2a.728.728 0 0 0-.75.75v6.025a.728.728 0 0 0 .75.75zM6.775 8.55a.728.728 0 0 0 .75-.75V1.775a.728.728 0 0 0-.75-.75H.75a.728.728 0 0 0-.75.75V7.8a.728.728 0 0 0 .75.75zM14.25 10a.762.762 0 0 0 .25-.175l4.275-4.275a.762.762 0 0 0 .175-.25.734.734 0 0 0 .05-.275c0-.1-.017-.192-.05-.275a.762.762 0 0 0-.175-.25L14.5.225a.762.762 0 0 0-.25-.175.734.734 0 0 0-.275-.05c-.1 0-.192.017-.275.05a.762.762 0 0 0-.25.175L9.175 4.5A.762.762 0 0 0 9 4.75a.734.734 0 0 0-.05.275c0 .1.017.192.05.275a.762.762 0 0 0 .175.25l4.275 4.275a.762.762 0 0 0 .25.175c.083.033.175.05.275.05.1 0 .192-.017.275-.05z"
						/>
					</svg>

					<span class="text-base font-bold">Advanced Vocal Techniques</span>
				</div>
				<div class="flex items-center gap-4 pt-4">
					<svg
						xmlns="http://www.w3.org/2000/svg"
						width="22"
						height="22"
						viewBox="0 0 22 22"
						class="h-6 w-6 text-brand-primary"
					>
						<path
							fill="#39f"
							d="M7.325 14.474l1.2-2.4L10.975 11l-2.45-1.075-1.2-2.4-1.175 2.4L3.675 11l2.475 1.075zm0 3.7l-2.3-4.925L0 11l5.025-2.25 2.3-4.9 2.325 4.9 5 2.25-5 2.25zm10.975 3.85l-1.075-2.4-2.6-1.125 2.6-1.125L18.3 14.85l1.075 2.525 2.6 1.125-2.6 1.125zm0-14.875l-1.075-2.5-2.6-1.15 2.6-1.125L18.3 0l1.075 2.375 2.6 1.125-2.6 1.15z"
						/>
					</svg>

					<span class="text-base font-bold">Performance Training</span>
				</div>
				<div class="flex items-center gap-4 pt-4">
					<svg
						xmlns="http://www.w3.org/2000/svg"
						width="18"
						height="22"
						viewBox="0 0 18 22"
						class="h-5 w-5 text-brand-primary"
					>
						<path
							fill="#5e9afe"
							d="M10.425 10.975l3.2-1.4-3.2-1.4-1.4-3.2-1.425 3.2-3.175 1.4 3.175 1.4 1.425 3.2zM1.5 2h15v15h-5.1L9 19.4 6.6 17H1.5zM12 18.5h4.5c.383 0 .73-.154 1.038-.463.308-.308.462-.654.462-1.037V2c0-.4-.154-.75-.463-1.05C17.23.65 16.884.5 16.5.5h-15C1.1.5.75.65.45.95.15 1.25 0 1.6 0 2v15c0 .383.15.73.45 1.038.3.308.65.462 1.05.462H6l3 3z"
						/>
					</svg>

					<span class="text-base font-bold">Singing Feedback</span>
				</div>
			</div>
			<div class="mt-4 border-t border-dashed border-brand-gray-light pt-10">
				<button
					class="block w-full flex-1 rounded bg-brand-vibrant-green py-4 px-8 text-center text-base font-bold text-white transition-colors duration-300 ease-in-out hover:bg-brand-vibrant-yellow hover:text-black"
				>
					Use Code SAVE20 To Get 20% OFF Your First Payment!
				</button>
			</div>
		</div>
		<div class="mx-auto mt-12 pb-32 lg:mt-0 lg:w-1/2 lg:pb-0">
			<div class="space-y-6">
				<div
					class="relative flex flex-col-reverse justify-between rounded-lg border-4 border-brand-vibrant-yellow bg-[rgba(255,206,10,0.04)] md:flex-row"
				>
					<img
						src="/assets/img/seal-best-deal.svg"
						alt=""
						class="absolute right-8 top-8 h-16 w-16 md:right-[20%]"
					/>
					<div class="flex flex-1 flex-col py-7 pr-8 pl-6">
						<input
							type="radio"
							checked
							class="h-5 w-5 border-2 border-brand-gray-light checked:text-black"
						/>

						<h2 class="mt-4 text-4xl font-bold">Pay Annually <span class="font-normal">(Save 25%)</span></h2>
						<p class="mt-2 text-base font-bold">
							$10.75 / Billed Annually - <span class="font-normal">60 Day Guarantee</span>
						</p>

						<div class="mt-5 w-full border-t border-brand-gray-light pt-5">
							<ul class="ml-6 list-disc">
								<li class="text-base leading-loose text-black">$129.00 Billed Yearly - Save $230.40</li>
								<li class="text-base leading-loose text-black">Full Access to 30 Day Singer</li>
								<li class="text-base leading-loose text-black">Includes 4 Free Fun Bonus Gifts</li>
								<li class="text-base leading-loose text-black">Cancel Anytime!</li>
							</ul>
						</div>
					</div>
					<img
						src="/assets/img/bg-upgrade.png"
						alt=""
						class="h-20 w-full object-cover md:h-auto md:w-1/4"
					/>
				</div>
				<div class="flex flex-col rounded-lg border-2 border-brand-gray-light p-6">
					<input
						type="radio"
						class="h-5 w-5 border-2 border-brand-gray-light"
					/>
					<h3 class="mt-4 text-3xl font-bold text-black md:text-4xl">
						Pay Month-To-Month <span class="font-normal">(Full Price)</span>
					</h3>
					<p class="mt-2 text-base text-black">
						<span class="font-bold">$29.95 / Billed Monthly</span> - Cancel Anytime - 60 Day Guarantee
					</p>
				</div>
				<div class="flex flex-col rounded-lg border-2 border-brand-gray-light p-6">
					<input
						type="radio"
						class="h-5 w-5 border-2 border-brand-gray-light"
					/>
					<h3 class="mt-4 text-4xl font-bold text-black">Basic Membership</h3>
					<p class="mt-2 text-base text-black">Free Account with Preview Lessons</p>
				</div>
			</div>
			<div class="mt-14">
				<div class="relative">
					<input
						type="text"
						placeholder="Enter Code"
						class="h-[52px] w-full rounded border-2 border-brand-gray-light bg-white focus:border-brand-gray-dark focus:ring-0"
					/>

					<button
						class="absolute inset-y-1 right-1 rounded bg-brand-gray-lighter py-2 px-6 text-center text-base font-bold text-black transition-colors duration-300 ease-in-out hover:bg-brand-vibrant-yellow hover:text-black"
					>
						Apply
					</button>
				</div>

				<button
					class="mt-6 block w-full flex-1 rounded bg-brand-vibrant-yellow py-4 px-8 text-center text-base font-bold text-black transition-colors duration-300 ease-in-out hover:bg-brand-primary hover:text-white"
				>
					Get Started
				</button>

				<span class="mt-6 block text-center text-base text-black">
					Easy Cancellation & 60 Day Money-Back Guarantee. There’s No Risk!
				</span>
			</div>
			<div class="mt-7 flex flex-col items-center justify-center gap-8 md:flex-row">
				<div class="flex gap-2">
					<div>
						<img
							src="/assets/img/awards/Award-1-GOLD.svg"
							alt=""
							class="h-16 w-16"
						/>
					</div>
					<div>
						<img
							src="/assets/img/awards/Award-2-GOLD.svg"
							alt=""
							class="h-16 w-16"
						/>
					</div>
					<div>
						<img
							src="/assets/img/awards/Award-3-GOLD.svg"
							alt=""
							class="h-16 w-16"
						/>
					</div>
				</div>
				<div class="flex justify-between gap-10 rounded-lg border border-brand-gray-light p-6">
					<span class="text-sm text-black">
						FEATURING *
						<span class="block font-bold">Reagan James From</span>
					</span>
					<div>
						<img
							src="/assets/img/icon-voice.png"
							alt=""
							style="width: 77px; height: 41px"
						/>
					</div>
				</div>
			</div>

			<div class="mt-16 border-t border-brand-gray-light pt-12">
				<h3 class="text-center text-4xl font-bold text-black">
					Frequently Asked <span class="text-brand-primary">Questions</span>
				</h3>
				<p class="mt-2.5 text-center text-xl text-black">
					Here are some answers to frequently asked questions.
				</p>

				<div
					class="mt-14 space-y-6"
					x-data="{ active: 1 }"
				>
					<div
						class="rounded-lg border-2 border-brand-gray-light bg-white p-3 md:p-6"
						x-data="{
								id: 1,
								get expanded() {
										return this.active === this.id
								},
								set expanded(value) {
										this.active = value ? this.id : null
								},
						}"
						role="region"
					>
						<button
							class="flex w-full items-center justify-between"
							@click="expanded = !expanded"
							:aria-expanded="expanded"
						>
							<span class="pr-8 text-left text-base font-bold">Will the course work for beginners?</span>
							<span
								class="text-brand-primary"
								x-show="!expanded"
								aria-hidden="true"
								x-cloak
							>
								<svg
									xmlns="http://www.w3.org/2000/svg"
									fill="none"
									viewBox="0 0 24 24"
									stroke-width="1.5"
									stroke="currentColor"
									class="h-6 w-6"
								>
									<path
										stroke-linecap="round"
										stroke-linejoin="round"
										d="M12 4.5v15m7.5-7.5h-15"
									/>
								</svg>
							</span>
							<span
								class="text-brand-primary"
								x-show="expanded"
								aria-hidden="true"
								x-cloak
							>
								<svg
									xmlns="http://www.w3.org/2000/svg"
									fill="none"
									viewBox="0 0 24 24"
									stroke-width="1.5"
									stroke="currentColor"
									class="h-6 w-6"
								>
									<path
										stroke-linecap="round"
										stroke-linejoin="round"
										d="M19.5 12h-15"
									/>
								</svg>
							</span>
						</button>
						<div
							class="pt-4 pr-8 md:pt-6 md:pr-16"
							x-show="expanded"
							x-collapse
							x-cloak
						>
							<p class="text-base text-black">
								Yes! If you take the time to follow along with the all the exercises and even repeat lessons
								where you feel you need more work, you will improve. The more consistent you are, the better
								the results.
							</p>
						</div>
					</div>
					<div
						class="rounded-lg border-2 border-brand-gray-light bg-white p-3 md:p-6"
						x-data="{
								id: 2,
								get expanded() {
										return this.active === this.id
								},
								set expanded(value) {
										this.active = value ? this.id : null
								},
						}"
						role="region"
					>
						<button
							class="flex w-full items-center justify-between"
							@click="expanded = !expanded"
							:aria-expanded="expanded"
						>
							<span class="pr-8 text-left text-base font-bold"
								>Is it true that some people are born “musical” and that I might be “tone-deaf”?</span
							>
							<span
								class="text-brand-primary"
								x-show="!expanded"
								aria-hidden="true"
								x-cloak
							>
								<svg
									xmlns="http://www.w3.org/2000/svg"
									fill="none"
									viewBox="0 0 24 24"
									stroke-width="1.5"
									stroke="currentColor"
									class="h-6 w-6"
								>
									<path
										stroke-linecap="round"
										stroke-linejoin="round"
										d="M12 4.5v15m7.5-7.5h-15"
									/>
								</svg>
							</span>
							<span
								class="text-brand-primary"
								x-show="expanded"
								aria-hidden="true"
								x-cloak
							>
								<svg
									xmlns="http://www.w3.org/2000/svg"
									fill="none"
									viewBox="0 0 24 24"
									stroke-width="1.5"
									stroke="currentColor"
									class="h-6 w-6"
								>
									<path
										stroke-linecap="round"
										stroke-linejoin="round"
										d="M19.5 12h-15"
									/>
								</svg>
							</span>
						</button>
						<div
							class="pt-4 pr-8 md:pt-6 md:pr-16"
							x-show="expanded"
							x-collapse
							x-cloak
						>
							<p class="text-base text-black">
								Yes! If you take the time to follow along with the all the exercises and even repeat lessons
								where you feel you need more work, you will improve. The more consistent you are, the better
								the results.
							</p>
						</div>
					</div>
					<div
						class="rounded-lg border-2 border-brand-gray-light bg-white p-3 md:p-6"
						x-data="{
								id: 3,
								get expanded() {
										return this.active === this.id
								},
								set expanded(value) {
										this.active = value ? this.id : null
								},
						}"
						role="region"
					>
						<button
							class="flex w-full items-center justify-between"
							@click="expanded = !expanded"
							:aria-expanded="expanded"
						>
							<span class="pr-8 text-left text-base font-bold"
								>Is it really true that I will notice a difference in my singing voice in only 30 days?</span
							>
							<span
								class="text-brand-primary"
								x-show="!expanded"
								aria-hidden="true"
								x-cloak
							>
								<svg
									xmlns="http://www.w3.org/2000/svg"
									fill="none"
									viewBox="0 0 24 24"
									stroke-width="1.5"
									stroke="currentColor"
									class="h-6 w-6"
								>
									<path
										stroke-linecap="round"
										stroke-linejoin="round"
										d="M12 4.5v15m7.5-7.5h-15"
									/>
								</svg>
							</span>
							<span
								class="text-brand-primary"
								x-show="expanded"
								aria-hidden="true"
								x-cloak
							>
								<svg
									xmlns="http://www.w3.org/2000/svg"
									fill="none"
									viewBox="0 0 24 24"
									stroke-width="1.5"
									stroke="currentColor"
									class="h-6 w-6"
								>
									<path
										stroke-linecap="round"
										stroke-linejoin="round"
										d="M19.5 12h-15"
									/>
								</svg>
							</span>
						</button>
						<div
							class="pt-4 pr-8 md:pt-6 md:pr-16"
							x-show="expanded"
							x-collapse
							x-cloak
						>
							<p class="text-base text-black">
								Yes! If you take the time to follow along with the all the exercises and even repeat lessons
								where you feel you need more work, you will improve. The more consistent you are, the better
								the results.
							</p>
						</div>
					</div>
					<div
						class="rounded-lg border-2 border-brand-gray-light bg-white p-3 md:p-6"
						x-data="{
								id: 4,
								get expanded() {
										return this.active === this.id
								},
								set expanded(value) {
										this.active = value ? this.id : null
								},
						}"
						role="region"
					>
						<button
							class="flex w-full items-center justify-between"
							@click="expanded = !expanded"
							:aria-expanded="expanded"
						>
							<span class="pr-8 text-left text-base font-bold"
								>What if I can’t practice every day? Can I take longer?</span
							>
							<span
								class="text-brand-primary"
								x-show="!expanded"
								aria-hidden="true"
								x-cloak
							>
								<svg
									xmlns="http://www.w3.org/2000/svg"
									fill="none"
									viewBox="0 0 24 24"
									stroke-width="1.5"
									stroke="currentColor"
									class="h-6 w-6"
								>
									<path
										stroke-linecap="round"
										stroke-linejoin="round"
										d="M12 4.5v15m7.5-7.5h-15"
									/>
								</svg>
							</span>
							<span
								class="text-brand-primary"
								x-show="expanded"
								aria-hidden="true"
								x-cloak
							>
								<svg
									xmlns="http://www.w3.org/2000/svg"
									fill="none"
									viewBox="0 0 24 24"
									stroke-width="1.5"
									stroke="currentColor"
									class="h-6 w-6"
								>
									<path
										stroke-linecap="round"
										stroke-linejoin="round"
										d="M19.5 12h-15"
									/>
								</svg>
							</span>
						</button>
						<div
							class="pt-4 pr-8 md:pt-6 md:pr-16"
							x-show="expanded"
							x-collapse
							x-cloak
						>
							<p class="text-base text-black">
								Yes! If you take the time to follow along with the all the exercises and even repeat lessons
								where you feel you need more work, you will improve. The more consistent you are, the better
								the results.
							</p>
						</div>
					</div>
					<div
						class="rounded-lg border-2 border-brand-gray-light bg-white p-3 md:p-6"
						x-data="{
								id: 5,
								get expanded() {
										return this.active === this.id
								},
								set expanded(value) {
										this.active = value ? this.id : null
								},
						}"
						role="region"
					>
						<button
							class="flex w-full items-center justify-between"
							@click="expanded = !expanded"
							:aria-expanded="expanded"
						>
							<span class="pr-8 text-left text-base font-bold"
								>It says that there are guaranteed results, what does that mean?</span
							>
							<span
								class="text-brand-primary"
								x-show="!expanded"
								aria-hidden="true"
								x-cloak
							>
								<svg
									xmlns="http://www.w3.org/2000/svg"
									fill="none"
									viewBox="0 0 24 24"
									stroke-width="1.5"
									stroke="currentColor"
									class="h-6 w-6"
								>
									<path
										stroke-linecap="round"
										stroke-linejoin="round"
										d="M12 4.5v15m7.5-7.5h-15"
									/>
								</svg>
							</span>
							<span
								class="text-brand-primary"
								x-show="expanded"
								aria-hidden="true"
								x-cloak
							>
								<svg
									xmlns="http://www.w3.org/2000/svg"
									fill="none"
									viewBox="0 0 24 24"
									stroke-width="1.5"
									stroke="currentColor"
									class="h-6 w-6"
								>
									<path
										stroke-linecap="round"
										stroke-linejoin="round"
										d="M19.5 12h-15"
									/>
								</svg>
							</span>
						</button>
						<div
							class="pt-4 pr-8 md:pt-6 md:pr-16"
							x-show="expanded"
							x-collapse
							x-cloak
						>
							<p class="text-base text-black">
								Yes! If you take the time to follow along with the all the exercises and even repeat lessons
								where you feel you need more work, you will improve. The more consistent you are, the better
								the results.
							</p>
						</div>
					</div>
					<div
						class="rounded-lg border-2 border-brand-gray-light bg-white p-3 md:p-6"
						x-data="{
								id: 6,
								get expanded() {
										return this.active === this.id
								},
								set expanded(value) {
										this.active = value ? this.id : null
								},
						}"
						role="region"
					>
						<button
							class="flex w-full items-center justify-between"
							@click="expanded = !expanded"
							:aria-expanded="expanded"
						>
							<span class="pr-8 text-left text-base font-bold"
								>Will I be playing guitar during the course?</span
							>
							<span
								class="text-brand-primary"
								x-show="!expanded"
								aria-hidden="true"
								x-cloak
							>
								<svg
									xmlns="http://www.w3.org/2000/svg"
									fill="none"
									viewBox="0 0 24 24"
									stroke-width="1.5"
									stroke="currentColor"
									class="h-6 w-6"
								>
									<path
										stroke-linecap="round"
										stroke-linejoin="round"
										d="M12 4.5v15m7.5-7.5h-15"
									/>
								</svg>
							</span>
							<span
								class="text-brand-primary"
								x-show="expanded"
								aria-hidden="true"
								x-cloak
							>
								<svg
									xmlns="http://www.w3.org/2000/svg"
									fill="none"
									viewBox="0 0 24 24"
									stroke-width="1.5"
									stroke="currentColor"
									class="h-6 w-6"
								>
									<path
										stroke-linecap="round"
										stroke-linejoin="round"
										d="M19.5 12h-15"
									/>
								</svg>
							</span>
						</button>
						<div
							class="pt-4 pr-8 md:pt-6 md:pr-16"
							x-show="expanded"
							x-collapse
							x-cloak
						>
							<p class="text-base text-black">
								Yes! If you take the time to follow along with the all the exercises and even repeat lessons
								where you feel you need more work, you will improve. The more consistent you are, the better
								the results.
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
