---
title: Vocal
permalink: /vocal
layout: "layouts/base.html"
---

<div class="bg-[url('/assets/img/hero-vocal.jpg')] bg-cover bg-center">
	<div class="container py-10">
		<span
			class="block text-center font-header text-3xl font-bold uppercase text-white lg:text-right lg:text-5xl"
		>
			VOCAL TECHNIQUE
		</span>
	</div>
</div>
<div class="flex gap-28 pb-10 lg:container lg:py-10 lg:pb-32">
	<div class="hidden w-1/4 pt-4 lg:block">{% include 'partials/sidebar.html' %}</div>
	<div class="w-full lg:w-3/4">
		<div class="flex flex-col-reverse gap-8 lg:flex-row xl:gap-16">
			<div class="container w-full lg:mx-0 lg:w-7/12 lg:max-w-none lg:px-0">
				<h1 class="text-3xl font-bold leading-tight text-black lg:text-4xl">
					Welcome to the Vocal Technique section of 30 Day Singer.
				</h1>
				<p class="mt-8 text-base text-black">
					A vocal warm up is important because it prepares your body and voice for singing. You never want to
					jump into a song or practice without properly warming up. There are a number of vocal warmups to
					perform like lip rolls or trills.
				</p>
			</div>
			<div class="w-full lg:w-5/12">
				<img
					src="/assets/img/video-thumbnail.jpg"
					alt=""
				/>
			</div>
		</div>

		<div class="container mt-10 w-full lg:mx-0 lg:max-w-none lg:px-0">
			<div class="flex justify-between border-b-2 border-brand-gray-lighter py-2">
				<h2 class="font-header text-xl font-semibold text-brand-black sm:text-2xl">TUTORIALS</h2>
				<div class="flex items-center">
					<span class="text-sm">Sort by</span>
					<select
						name=""
						id=""
						class="border-0 text-sm font-semibold"
					>
						<option
							value="1"
							selected
						>
							High Voice
						</option>
					</select>
				</div>
			</div>

			<div class="space-y-4 divide-y divide-brand-gray-light border-b border-brand-gray-light">
				<div class="mt-4 flex gap-6">
					<div class="w-1/2 shrink-0 md:w-1/4">
						<img
							src="/assets/img/thumbnails/30DS_TUT_BeginnerCourse_Lvl2-Abram.jpg"
							alt=""
						/>
					</div>
					<div class="w-1/2 md:w-full lg:pt-1">
						<h3 class="text-base font-bold text-black sm:text-xl">
							Daily Chest Voice Workout for Tenors and Baritones
						</h3>
						<span class="mt-2 block text-sm font-normal text-brand-gray-dark">
							By <span class="font-semibold">Abram Poliakoff</span>
						</span>
						<p class="mt-2 !hidden text-sm text-black line-clamp-2 md:!block">
							Developing your unique vocal sound might be easier than you think! In this Live Lesson we’ll
							show you how to do exactly that. You can develop your unique sound by drawing from your…
						</p>
					</div>
				</div>
				<div class="flex gap-6 py-4">
					<div class="w-1/2 shrink-0 md:w-1/4">
						<img
							src="/assets/img/thumbnails/30DS_TUT_BeginnerCourse_Lvl2-Abram.jpg"
							alt=""
						/>
					</div>
					<div class="w-1/2 md:w-full lg:pt-1">
						<h3 class="text-base font-bold text-black sm:text-xl">
							Daily Chest Voice Workout for Tenors and Baritones
						</h3>
						<span class="mt-2 block text-sm font-normal text-brand-gray-dark">
							By <span class="font-semibold">Abram Poliakoff</span>
						</span>
						<p class="mt-2 !hidden text-sm text-black line-clamp-2 md:!block">
							Developing your unique vocal sound might be easier than you think! In this Live Lesson we’ll
							show you how to do exactly that. You can develop your unique sound by drawing from your…
						</p>
					</div>
				</div>
				<div class="flex gap-6 py-4">
					<div class="w-1/2 shrink-0 md:w-1/4">
						<img
							src="/assets/img/thumbnails/30DS_TUT_BeginnerCourse_Lvl2-Abram.jpg"
							alt=""
						/>
					</div>
					<div class="w-1/2 md:w-full lg:pt-1">
						<h3 class="text-base font-bold text-black sm:text-xl">
							Daily Chest Voice Workout for Tenors and Baritones
						</h3>
						<span class="mt-2 block text-sm font-normal text-brand-gray-dark">
							By <span class="font-semibold">Abram Poliakoff</span>
						</span>
						<p class="mt-2 !hidden text-sm text-black line-clamp-2 md:!block">
							Developing your unique vocal sound might be easier than you think! In this Live Lesson we’ll
							show you how to do exactly that. You can develop your unique sound by drawing from your…
						</p>
					</div>
				</div>
				<div class="flex gap-6 py-4">
					<div class="w-1/2 shrink-0 md:w-1/4">
						<img
							src="/assets/img/thumbnails/30DS_TUT_BeginnerCourse_Lvl2-Abram.jpg"
							alt=""
						/>
					</div>
					<div class="w-1/2 md:w-full lg:pt-1">
						<h3 class="text-base font-bold text-black sm:text-xl">
							Daily Chest Voice Workout for Tenors and Baritones
						</h3>
						<span class="mt-2 block text-sm font-normal text-brand-gray-dark">
							By <span class="font-semibold">Abram Poliakoff</span>
						</span>
						<p class="mt-2 !hidden text-sm text-black line-clamp-2 md:!block">
							Developing your unique vocal sound might be easier than you think! In this Live Lesson we’ll
							show you how to do exactly that. You can develop your unique sound by drawing from your…
						</p>
					</div>
				</div>
				<div class="flex gap-6 py-4">
					<div class="w-1/2 shrink-0 md:w-1/4">
						<img
							src="/assets/img/thumbnails/30DS_TUT_BeginnerCourse_Lvl2-Abram.jpg"
							alt=""
						/>
					</div>
					<div class="w-1/2 md:w-full lg:pt-1">
						<h3 class="text-base font-bold text-black sm:text-xl">
							Daily Chest Voice Workout for Tenors and Baritones
						</h3>
						<span class="mt-2 block text-sm font-normal text-brand-gray-dark">
							By <span class="font-semibold">Abram Poliakoff</span>
						</span>
						<p class="mt-2 !hidden text-sm text-black line-clamp-2 md:!block">
							Developing your unique vocal sound might be easier than you think! In this Live Lesson we’ll
							show you how to do exactly that. You can develop your unique sound by drawing from your…
						</p>
					</div>
				</div>
				<div class="flex gap-6 py-4">
					<div class="w-1/2 shrink-0 md:w-1/4">
						<img
							src="/assets/img/thumbnails/30DS_TUT_BeginnerCourse_Lvl2-Abram.jpg"
							alt=""
						/>
					</div>
					<div class="w-1/2 md:w-full lg:pt-1">
						<h3 class="text-base font-bold text-black sm:text-xl">
							Daily Chest Voice Workout for Tenors and Baritones
						</h3>
						<span class="mt-2 block text-sm font-normal text-brand-gray-dark">
							By <span class="font-semibold">Abram Poliakoff</span>
						</span>
						<p class="mt-2 !hidden text-sm text-black line-clamp-2 md:!block">
							Developing your unique vocal sound might be easier than you think! In this Live Lesson we’ll
							show you how to do exactly that. You can develop your unique sound by drawing from your…
						</p>
					</div>
				</div>
				<div class="flex gap-6 py-4">
					<div class="w-1/2 shrink-0 md:w-1/4">
						<img
							src="/assets/img/thumbnails/30DS_TUT_BeginnerCourse_Lvl2-Abram.jpg"
							alt=""
						/>
					</div>
					<div class="w-1/2 md:w-full lg:pt-1">
						<h3 class="text-base font-bold text-black sm:text-xl">
							Daily Chest Voice Workout for Tenors and Baritones
						</h3>
						<span class="mt-2 block text-sm font-normal text-brand-gray-dark">
							By <span class="font-semibold">Abram Poliakoff</span>
						</span>
						<p class="mt-2 !hidden text-sm text-black line-clamp-2 md:!block">
							Developing your unique vocal sound might be easier than you think! In this Live Lesson we’ll
							show you how to do exactly that. You can develop your unique sound by drawing from your…
						</p>
					</div>
				</div>
				<div class="flex gap-6 py-4">
					<div class="w-1/2 shrink-0 md:w-1/4">
						<img
							src="/assets/img/thumbnails/30DS_TUT_BeginnerCourse_Lvl2-Abram.jpg"
							alt=""
						/>
					</div>
					<div class="w-1/2 md:w-full lg:pt-1">
						<h3 class="text-base font-bold text-black sm:text-xl">
							Daily Chest Voice Workout for Tenors and Baritones
						</h3>
						<span class="mt-2 block text-sm font-normal text-brand-gray-dark">
							By <span class="font-semibold">Abram Poliakoff</span>
						</span>
						<p class="mt-2 !hidden text-sm text-black line-clamp-2 md:!block">
							Developing your unique vocal sound might be easier than you think! In this Live Lesson we’ll
							show you how to do exactly that. You can develop your unique sound by drawing from your…
						</p>
					</div>
				</div>
				<div class="flex gap-6 py-4">
					<div class="w-1/2 shrink-0 md:w-1/4">
						<img
							src="/assets/img/thumbnails/30DS_TUT_BeginnerCourse_Lvl2-Abram.jpg"
							alt=""
						/>
					</div>
					<div class="w-1/2 md:w-full lg:pt-1">
						<h3 class="text-base font-bold text-black sm:text-xl">
							Daily Chest Voice Workout for Tenors and Baritones
						</h3>
						<span class="mt-2 block text-sm font-normal text-brand-gray-dark">
							By <span class="font-semibold">Abram Poliakoff</span>
						</span>
						<p class="mt-2 !hidden text-sm text-black line-clamp-2 md:!block">
							Developing your unique vocal sound might be easier than you think! In this Live Lesson we’ll
							show you how to do exactly that. You can develop your unique sound by drawing from your…
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
