@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	html {
		@apply font-body antialiased;
	}

	@font-face {
		font-family: "Switzer";
		src: url("../fonts/Switzer-Variable.woff2") format("woff2"),
			url("../fonts/Switzer-Variable.woff") format("woff"),
			url("../fonts/Switzer-Variable.ttf") format("truetype");
		font-weight: 100 900;
		font-display: swap;
		font-style: normal;
	}

	[x-cloak] {
		@apply !hidden;
	}
}

.slick-next {
	@apply right-3 z-10 !important;
}

.slick-prev {
	@apply left-3 z-10 !important;
}

.slick-next,
.slick-prev {
	@apply top-[40%];
}

.slick-dots {
	@apply inset-x-0 -bottom-24 mx-auto w-10/12 border-t border-brand-gray-light pt-4 md:w-1/2;

	li {
		@apply m-0;
		&.slick-active {
			button:before {
				@apply text-brand-primary;
			}
		}
		button {
			@apply p-0;

			&:before {
				@apply text-xs;
			}
		}
	}
}

* {
	/* border: 1px solid red; */
}
